/* things I was told to write xd */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.body {
    background-color: #858585;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************/
/* Generic styles */
/******************/

a {
    text-decoration: none;
    color: #005BD1;
}

.align-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.text-muted {
    font-size: 9px;
    color: #A9A9A9;
}

.text-small {
    font-size: 12px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 16px 0;
    display: block;
    text-align: center;
}

/* form-related generic styles */

.btn {
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    height: 32px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    padding: 5px;
    box-shadow: 0 2px #F5F5F5;
    font-weight: bold;
    width: 144px;
    margin: 5px auto 15px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn-purple {
    background-color: #CA9CF4;
}

.checkbox {
    vertical-align: bottom;
    position: relative;
    background-color: #8E8E8E;
    margin: 0;
    top: -4px;
    width: 14px;
    height: 14px;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
}

.checkbox:checked::after {
    content: "\2713";
    font-weight: bold;
    font-size: 14px;
    color: white;
    position: absolute;
    /* pixel values require fractional numbers, so instead I use % */
    top: -10%;
    right: -2%;
}

@-moz-document url-prefix() {
    /* checkmark renders differently, hence the changes */
    .checkbox:checked::after {
        top: -8%;
        right: 5%;
        font-size: 11px;
    }
}

.checkbox:focus {
    outline: none;
}

.checkbox-small {
    width: 12px;
    height: 12px;
}

.checkbox-purple {
    background-color: #CA9CF4;
}

.column-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 4px 0;
}

.input {
    margin: 8px 0;
    height: 20px;
    /* can't align the text any other way */
    padding: 5px 5px 3px 10px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    font-size: 12px;
}

@-moz-document url-prefix() {
    /* 16 + 7 = 20 + 3 so size doesn't change, just the alignment */
    .input {
        height: 16px;
        padding: 5px 5px 7px 5px;
    }
}

.input:focus {
    outline: none;
}

/* Input + icon */
.input-w-icon-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-w-icon {
    padding-right: 30px;
}

.icon-input {
    position: absolute;
    top: 15px;
    right: 7px;
}

.icon-input.icon-12 {
    top: 17px;
    right: 7px;
}

/************************/
/* Popup-related styles */
/************************/

.popup {
    position: relative;
    background-color: white;
    min-width: 300px;
    border-radius: 3px;
    padding: 20px 20px 15px 20px;
}

.login-popup {
    box-shadow: 0 0 50px 5px #676767;
    display: flex;
    flex-direction: column;
}

.popup_close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.popup-hr {
    display: block;
    height: 0;
    border: 0;
    border-top: 1px solid #E0E0E0;
    /* compensating for the popup margin (there's probably a better way) */
    margin: 16px -20px;
    padding: 0;
}

/******************************/
/* Social icon related styles */
/******************************/

.social-icons-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.social-icon-wrapper {
    box-shadow: 0 2px 0 0 #F5F5F5;
    margin: 0 2px;
}

.social-icon-wrapper-vk {
    background-color: #4A76A8;
}

.social-icon-wrapper-fb {
    background-color: #3B5998;
}

.social-icon-wrapper-ok {
    background-color: #EE8208;
}