* {
    font-family: Helvetica;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.default-text-margin {
    margin-left: 4px;
}

/*main grid*/
.container {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: auto 380px auto;
    grid-template-rows: auto 420px auto;

    grid-template-areas:
            ". . ."
            ". iteam-plate ."
            ". . .";
}

/*main body*/
.iteam-plate {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    border: 1px solid gainsboro;
    grid-area: iteam-plate;
    background-color: #ffffff;
    border-radius: 4px;
}


.profile-title {
    height: 15%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cross-img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
}

.cross-img:hover {
    width: 20px;
}



.header-text {
    font-size: 30px;
    font-weight: bold;
}

.sign-in {
    height: 70%;
    padding: 0px 20px 0px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.authentication {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input.log-form {
    width: 100%;
    height: 30px;
    margin: 0px;

    border: 1px solid whitesmoke;

    border-radius: 4px;
}

input.mail-input {
    height: 45px;
    box-sizing: border-box;
}

div.full-passwd-form {
    width: 100%;
    display: flex;
}
input.passwd-form {
    width: 80%;
    border: none;
    margin: 0px;

    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;

    border-radius: 4px 0px 0px 4px;
}

input.log-form:focus, input.log-form:active {
    outline: 0;
    outline-offset: 0;
}

.show-div {
    width: 20%;

    border-top: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;

    border-radius: 0px 4px 4px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

img.show-passwd {
    width: 18px;
    opacity: 0.5;
}

img.show-passwd:hover {
    opacity: 1;
}

/*todo event on click for "img.show-passwd"*/

input.log-form {
    padding: 4px;
}

div.passwd-logic {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rememb-passwd {
    display: flex;
    align-items: center;
    justify-content: start;
}

/*Custom checkbox*/
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 15px;
    width: 15px;

    border-radius: 4px;
    border: 1px solid gainsboro;
    background-color: #ffffff;
}

.custom-checkbox:hover input ~ .checkmark {
    background-color: #ffffff;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #ff2953;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 3px;
    top: 1px;
    width: 6px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Custom checkbox*/

.sign-in button { /*toDo change to normal class without .sign-in*/
    color: #ffffff;
    background-color: #ff2953;
    width: 156px;
    height: 38px;
    font-size: 14px;
    border-radius: 4px;
    border-width: 1px;
}

.sign-in button:hover { /*toDo change to normal class without .sign-in*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.social-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grey-text {
    opacity:0.4;
}

.social-refs {
    display: flex;
    justify-content: center;
}

div.bg-social-icon {
    width: 35px;
    height: 45px;
    float: left;
    margin: 4px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.bg-social-icon:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.bg-social-icon img {
    filter: invert(1);
}

.ok-bg-color {background-color: #ef8302;}

.fb-bg-color {background-color: #385899;}

.vk-bg-color {background-color: #4775a8;}

.social-href {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.registration {
    height: 15%;
    text-align: center;
    vertical-align: center;

    border-top: 1px solid lightgrey;

    display: flex;
    align-items: center;
    justify-content: center;
}