* {
    font-family: Helvetica;
    font-size: 10px;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 50px 400px auto;

    grid-template-areas:
            "headerblock headerblock headerblock"
            ". menu .";
}

.headerblock {
    grid-area: headerblock;
}

.header-logo-block {
    height: 100%;
    background-color: #ff2953;
    padding-left: 100px;

    display: flex;
    align-items: center;
    justify-content: start;
}

img.header-logo {
    height: 30px;
}

.menu {
    grid-area: menu;
    margin-top: 45px;
    border: 1px solid gainsboro;
    border-radius: 4px;

    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.menu-title {
    font-size: 40px;
}

div.first {
    background-color: white;
}

div.second {
    background-color: #f5f5f5;
}

div.menu-row {
    height: 100%;

    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.rows-icon {
    display: flex;
    align-items: center;
}

div.rows-icon img {
    filter: invert(1);
}

div.round-area {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #23c85c;

    display: flex;
    align-items: center;
    justify-content: center;

}

.rows-title {
    margin-left: 20px;
    font-size: 15px;
}

img.rotate-arrow {
    float: right;
    transform: rotate(90deg);
}

