/* things I was told to write xd */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
}

/******************/
/* Generic styles */
/******************/

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 16px 0;
    display: block;
    text-align: center;
}

.popup {
    margin-top: 8px;
    position: relative;
    background-color: white;
    min-width: 300px;
    border-radius: 3px;
    padding: 20px 20px 15px 20px;
}

.profile-popup {
    min-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid #EBEBEB;
}

.profile-popup_profile-icon {
    margin: 0 auto;
}

.profile-popup_profile-icon_text {
    font-weight: bold;
    font-size: 32px;
}
.profile-items {
    margin:20px auto;
    padding: 20px;
    display: table;
    border-collapse: collapse;
    border-spacing: 10px;

}

.profile-item {
    display: table-row;
    height: 40px;
    white-space: nowrap;
    border-bottom: 1px solid #E0E0E0;
}

.profile-item:last-of-type {
    border: none;
}

.col-5 {
    width: fit-content;
    margin: 0;
}

.popup-hr {
    display: block;
    height: 0;
    border: 0;
    border-top: 1px solid #E0E0E0;
    /* compensating for the popup margin (there's probably a better way) */
    margin: 16px -20px;
    padding: 0;
}

.profile-item-col {
    display: table-cell;
    vertical-align: middle;
}

.inline-hr {
    margin: 0;
}