/* things I was told to write xd */
.body {
    background-color: white;
    display: flex;
    justify-content: center;
}

/* Popup styles */
.profile-popup {
    min-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid #EBEBEB;
}

.profile-popup__profile-icon {
    margin: 0 auto;
}

.profile-popup__userpic-text {
    font-weight: bold;
    font-size: 32px;
}

/* Table with data */
.profile-popup__profile-items {
    margin:20px auto 10px;
    padding: 20px;
    display: table;
    border-collapse: collapse;
    border-spacing: 10px;

}

.profile-popup__profile-item {
    display: table-row;
    height: 40px;
    white-space: nowrap;
    border-bottom: 1px solid #E0E0E0;
}

.profile-popup__profile-item:last-of-type {
    border: none;
}

.profile-popup__profile-item-name,
.profile-popup__profile-item-value {
    display: table-cell;
    vertical-align: middle;
}

.profile-popup__profile-item-name {
    font-weight: bold;
}

.profile-popup__profile-item-value {
    padding-left: 40px;
}

/* Buttons at the bottom */
.profile-popup__double-btn {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}