* {
    font-family: Helvetica;
    font-size: 14px;
}

input:active, input:focus, button:active, button:focus {
    outline: 0;
    outline-offset: 0;
}

input.paddin-text {
    padding-left: 4px;
}

.input-border {
    border: 1px solid lightgrey;
    border-radius: 4px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    width: 100%;
    height: 35px;
}

.grey-text {
    color: darkgrey;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: auto 420px auto;
    grid-template-rows: 10px 600px auto;

    grid-template-areas:
            ". . ."
            ". plate ."
            ". . .";
}

/* Main body*/
.plate {
    grid-area: plate;
    background-color: white;

    border: 1px solid lightgrey;
    border-radius: 4px;

    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    grid-template-rows: 1fr 9fr;
}

/* Head */
.sign-in-title {
    height: 10%;

    font-weight: bold;

    border-bottom: 1px solid gainsboro;

    padding-left: 20px;

    display: flex;
    align-items: center;
}

.title-text {
    font-size: 32px;
}


/* info form*/
.main-body {
    height: 78%;
    box-sizing: border-box;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-left: 20px;
    padding-right: 20px;
}

.input-label {
    font-weight: bold;
}

input.warning-input {
    border: 1px solid red;
    border-radius: 4px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.warning-text {
    color: red;
    font-size: 12px;
}

div.input-row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.date-form {
    display: flex;
    justify-content: space-around;
}

div.date-select {
    /*width: 33%;*/
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;

    flex-grow: 3;
    box-sizing: border-box;

    border: 1px solid silver;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.bottom-arrow {
    width: 8px;
    transform: rotate(90deg);
}

div.phone-form {
    display: flex;
}

div.flag-choise {
    width: 40%;

    padding-left: 5px;
    padding-right: 5px;

    border-radius: 4px 0px 0px 4px;
    border-right: none;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.country-area {
    display: flex;
    justify-content: start;
    align-items: center;
}

.country-name {
    margin-left: 4px;
}

.phone-input {
    width: 60%;
    border-radius: 0px 4px 4px 0px;
}

.buttons-block {
    height: 12%;

    box-sizing: padding-box;

    padding-left: 20px;
    padding-right: 20px;

    border-top: 1px solid lightgrey;

    display: flex;
    align-items: center;
}

button {
    height: 40px;

    border-radius: 4px;
}

button.register-btn {
    width: 175px;
    background-color: #ff2953;
    color: white;
}

button.register-btn:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

button.register-btn:active {
    background-color: #e5244a;
}

button.cancel-btn {
    width: 120px;
    margin-left: 10px;
    background-color: lightgrey;
}

button.cancel-btn:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

button.cancel-btn:active {
    background-color: #bdbdbd;
}