* {
    font-family: Helvetica;
    font-size: 14px;
}

.shadow-text {
    opacity: 0.5;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: auto 370px auto;
    grid-template-rows: auto 350px auto;

    grid-template-areas:
            ". . ."
            ". plate ."
            ". . .";
}

/* Main body*/
.plate {
    grid-area: plate;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    border: 1px solid darkgrey;
    border-radius: 4px;
}

/* body's head */
.update-head {
    height: 25%;
    padding: 20px 20px 0px 20px;

    box-sizing: border-box;

   display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-head-name {
    width: 50%;

    display: flex;
    align-items: start;
    flex-direction: column;
}

.title-text-sz {
    font-size: 30px;
    font-weight: bold;
}

.cross-block {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
}

img.cancel-cross {
    width: 20px;
}

/* info form */
form.user-info {
    height: 56%;

    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.info-rows {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

div.info-row {
    width: 100%;
    position: relative;
}

.input-title {
    font-weight: bold;
}

div#bubble-text {
    height: 60px;

    position: absolute;
    top: 0;
    left: 105%;

    padding-left: 10px;

    border: 1px solid gainsboro;
    border-radius: 4px;
    width: 250px;

    box-sizing: border-box;

    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
}

div#bubble-text::after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: gainsboro;
    border-width: 8px;
    margin-top: -8px;
}

input.login {
    height: 28px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.input-size {
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.phone-input {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

input.input-size:focus, input.input-size:active {
    outline: 0;
    outline-offset: 0;
}

.select-country {
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-bottom: 1px solid red;

    border-radius: 4px 0px 0px 4px;

    width: 40%;

    padding-top: 1px;
    padding-bottom: 1px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.country-area {
    display: flex;
    align-items: center;
    justify-content: start;
}

img.bottom-arrow {
    width: 8px;
    transform: rotate(90deg);
}

.country-name {
    margin-left: 5px;
}

input.input-number {
    width: 60%;

    border: 1px solid red;
    border-radius: 0px 4px 4px 0px;

}

label.warnin-text {
    color: red;
    font-size: 12px;
}

/* plat's footer */
div.buttons-block {
    height: 19%;
    padding-left: 20px;
    padding-right: 20px;

    border-top: 1px solid lightgrey;
    box-sizing: border-box;

    display: flex;
    justify-content: start;
    align-items: center;
}

button:focus, button:active {
    outline: 0;
    outline-offset: 0;
}

button.control-btn {
    font-size: 16px;

    height: 50%;
    width: 110px;
    margin-right: 10px;

    border-radius: 4px;
}

.update-btn {
    background-color: lightpink;
    color: white;
}

.update-btn:active {
    background-color: #e5a3ad;
}

.cancel-btn {
    background-color: lightgrey;
    color: black;
}

.cancel-btn:active {
    background-color: #bdbdbd
}

.shadow-btn:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

