<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="profile-page">
        <div class="profile-page__main-block">
            <div class="profile-page__title">Профиль</div>
            <div class="profile-page__logo-circle">
                <div class="profile-page__nickname">ИИ</div>
            </div>
            <form class="profile-page__form">
                <div class="profile-page-form-input">
                    <div class="profile-page-form-input__type">Никнейм</div>
                    <div class="profile-page-form-input__value">vileven</div>
                </div>
                <div class="profile-page-form-input">
                    <div class="profile-page-form-input__type">Имя</div>
                    <div class="profile-page-form-input__value">Иван</div>
                </div>
                <div class="profile-page-form-input">
                    <div class="profile-page-form-input__type">Фамилия</div>
                    <div class="profile-page-form-input__value">Иванов</div>
                </div>
                <div class="profile-page-form-input">
                    <div class="profile-page-form-input__type">Дата рождения</div>
                    <div class="profile-page-form-input__value">15.06.1997</div>
                </div>
                <div class="profile-page-form-input">
                    <div class="profile-page-form-input__type">Пол</div>
                    <div class="profile-page-form-input__value">Мужской</div>
                </div>
            </form>
            <div class="profile-page-form__footer">
                <div class="profile-page__container-button">
                    <div class="profile-page-button">
                        <div class="profile-page-change-icon"></div>
                        <div class="profile-page__button-text">Изменить</div>
                    </div>
                </div>
                <div class="profile-page-button profile-page-button_gray">
                    <div class="profile-page-delete-icon"></div>
                    <div class="profile-page__button-text profile-page__button-text_gray">Удалить</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>