html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
.profile-page {
    padding-top: 8px;
    height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: Helvetica, Arial, san-serif;
    -webkit-box-pack: center;
    display: -webkit-box;
    font-size: 13px;
}

.profile-page__main-block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 422px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    padding: 20px;
    box-sizing: border-box;
}

.profile-page__title {
    font-size: 32px;
    display: inline-flex;
    justify-content: center;
    font-weight: bold;
}

.profile-page__logo-circle {
    width: 48px;
    height: 48px;
    margin: 20px 0;
    border-radius: 50%;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-page__nickname {
    content: 'ИИ';
    font-size: 33px;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
}

.profile-page__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 216px;
}

.profile-page-form-input {
    height: 40px;
    border-bottom: 1px solid #E0E0E0;
    box-sizing: border-box;
    display: flex;
}

.profile-page-form-input:last-child {
    border-bottom: none;
}

.profile-page-form-input__type {
    width: 142px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.profile-page-form-input__value {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.profile-page-form__footer {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.profile-page__container-button {
    margin-right: 8px;
}

.profile-page-button {
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #008079;
    border: 1px solid #00716A;
    border-radius: 2px;
    display: flex;
    cursor: pointer;
}

.profile-page-button_gray {
    background-color: #F7F7F7;
    border: 1px solid #E9E9E9;
}

.profile-page__button-text {
    margin-left: 10px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}

.profile-page__button-text_gray {
    color: #A1A1A1;
}

.profile-page-change-icon {
    width: 15px;
    height: 16px;
    background: url("img/Change.svg") no-repeat center;
}

.profile-page-delete-icon {
    width: 14px;
    height: 15px;
    background: url("img/Delete.svg") no-repeat center;
}
