@import "modules/theme";
@import "modules/popup";
@import "modules/generic";

@import "blocks/icon";
@import "blocks/btn";
@import "blocks/checkbox";
@import "blocks/form-group";
@import "blocks/input";
@import "blocks/sm-icons-list";

@import "blocks/login-popup";
@import "blocks/login-form";

body, html {
    height: 100%;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #858585;
}