@import "modules/theme";
@import "modules/popup";
@import "modules/generic";

@import "blocks/icon";
@import "blocks/input";
@import "blocks/checkbox";
@import "blocks/form-group";

@import "blocks/login-popup";
@import "blocks/login-form";
@import "blocks/sm-icons-list";
@import "blocks/btn";

body, html {
    height: 100%;
}
.body {
    background-color: #858585;
    display: flex;
    justify-content: center;
    align-items: center;
}