@import "modules/theme";
@import "modules/generic";

@import "blocks/icon";
@import "blocks/header";
@import "blocks/menu";

.body {
    display: flex;
    flex-direction: column;
    align-content: center;

    padding: 0;
    background-color: white;
}