@import "modules/theme";
@import "modules/generic";
@import "modules/popup";

@import "blocks/icon";
@import "blocks/btn";
@import "blocks/profile-popup";
@import "blocks/profile-info";

.body {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

