/* html, body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column; 
} */

:root {
    --main-btn-color: rgb(202, 156, 244);
    --bg-color: rgb(255, 255, 255);
    --border-color: rgb(204, 204, 204);
    --vk-btn-color: rgb(74, 118, 168); 
    --fb-btn-color: rgb(59, 89, 152);
    --nav-bg-color: rgb(243, 243, 243);
    --del-btn-color: rgb(228, 228, 228);
    --del-btn-text-color: rgb(172, 172, 172);   
}
