.container {
    width: 440px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);	
    background: var(--bg-color);
    border-radius: 8px;
    border: 1px solid var(--border-color);   
    padding: 0;
}

.title {   
    font-weight: 700;
    font-size: 30px;
    margin: auto;
    padding: 20px;
}

.main-block {  
    padding: 25px;
    margin-bottom: 20px;
}

.main-border {
    border-top: var(--lightgray);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom: var(--lightgray);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.main-block .header {
    font-weight: bold;
    margin-bottom: 5px;
}

.record {   
    margin-bottom: 25px;
}

.column-data {  
    margin-right: 150px;
}

#phone .content {    
    width: 140px;
    min-width: 140px;
}

.buttons-block {  
    width: 90%;
    padding-bottom: 15px; 
    transform: translate(5%, 0%);
}

.btn {    
    font-weight:bold;
    width: 100%;
    border: none;
    border-radius: 4px;
    margin-bottom: 5px;
    height: 40px;
    display: flex;
    margin-left: 5px;
}

.btn-img { 
    margin-right: 10px;
}

.edit {
    background-color: var(--main-btn-color);
    color: var(--bg-color);    
}

.delete {
    background-color: var(--del-btn-color);
    color: var(--del-btn-text-color);    
}

@media (max-width: 375px) {
    .container {
        width: 100%;
    }
    .column-data {
        margin-right: 100px;
    }
} 

@media (min-width: 375px) and (max-width: 460px) {
    .container {
        width: 100%;
    }
} 

