html {     
    font-family: Arial, Helvetica, sans-serif;
    height: 100%; 
}

body {
    margin: 0;
    height: 100%;
    background: url(../images/hero-lg.jpg);
    background-size: cover;
}

.container {
    align-items: center;    
    width: 1100px;
}

.title {
    color: var(--bg-color);
    text-align: center;    
    font-size: 50px;
    margin-bottom: 25px;
}

@media (min-width: 1200px) {
    .password-block img {
        right: 165px;
    }
}

@media (min-width: 760px) and (max-width: 1200px) {
    .container { 
        max-width: 890px;
    }
    .title {
        font-size: 35px;
    }
    .signup {
        font-size: 12px;
    }
    .password-block img {
        right: 165px;
    }
}

@media (min-width: 500px) and (max-width: 760px) {
    .container { 
        max-width: 470px;
    }
    .title {
        font-size: 22px;
    }
    .main-block {
        max-width: 340px;
    }
    .signup {
        font-size: 12px;
    }
    .password-block img {
        right: 50px;
    }
}

@media (min-width: 380px) and (max-width: 500px) {
    .container { 
        max-width: 420px;
    }
    .title {
        font-size: 19px;
    }
    .main-block {
        max-width: 270px;
    }
    .password-block img {
        right: 15px;
    }
}

@media (max-width: 380px) {
    .container { 
        max-width: 370px;
    }
    .title {
        font-size: 15px;
    }
    .main-block {
        max-width: 270px;
    }
    .password-block img {
        right: 15px;
    }
}

.main-block {
    margin: auto;
    width: 670px;
}

.input-default {
    width: 50%;
    border: none;
    border-radius: 4px;  
    min-width: 230px;
    margin-bottom: 10px;
    padding: 12px 20px;
    outline: none; 
}

.input-block {
    width: 100%;
    align-items: center;
}

.password-block {
    display: flex;
    width: 100%;
    position: relative;
}

.password-block img {
    position: absolute;
    z-index: 100;
    padding: 0 0 0 10px;
    background-color: var(--bg-color);
    top: 10px;
}

.signup {
    width: 40%;
    background-color: var(--main-btn-color);
    border: none;
    border-radius: 4px;
    color: var(--bg-color); 
    margin-bottom: 10px;   
    height: 40px; 
    font-weight:bold;
    min-width: 160px;  
}

.lined-text {
    text-decoration: underline;
    color: var(--bg-color); 
    text-align: center;       
}