

body {
    width: 100vw;
    height: 100vh;
    display: grid;

    grid-template-columns: 5fr 400px 5fr;
    grid-template-rows: 3fr 440px 4fr ;

    grid-template-areas:
            ". . ."
            ". table ."
            ". . .";

    background-color: #868686;
}

.main {
    grid-area: table;
    border: 1px solid grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: white;

    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.25);

    font-family: sans-serif;
}


#soc-ref {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/*.square {*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*background-color: aquamarine;*/

    /*border: 1px solid red;*/
/*}*/

#vk {
    width: 30px;
    height: 30px;
    background-color: #4876a9;
}

#ok {
    width: 30px;
    height: 30px;
    background-color: #ef8302;
}

#fb {
    width: 30px;
    height: 30px;
    background-color: #385899;
}

.button {
    background-color: #1fd17b;
    width: 40%;
    height: 9%;
    font-size: 90%;
    font-weight: bold;
    color: white;

    padding: 0;
    border: none;
    border-radius: 3px;
}

.input {
    width: 100%;
    height: 6%;

    display: flex;
    justify-content: center;
}

input {
    width: 90%;
    height: 80%;

    font-size: 90%;
    font-weight: bold;

}

#in2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#in2 > input {
    width: 300px;

    border: none;
    margin: 0px;

    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;

    padding-left: 5px;
    padding-right: 15px;
}

.eye {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;

    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.enter {
    height: 20%;
    width: 100%;

    font-size: 30px;
    /*padding-top: 10px;*/

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /*justify-items: end;*/
}

.enter > img {
    /*margin-left: 70px;*/
}

.deleteBack {
    border: 0;
    /*outline: 0;*/
    background: none;
}

#in1,
#in2 {
    height: 10%;
    margin-bottom: 2%;
}

.passHelp {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 10px;
}

h1 {
    font-weight: lighter;
}

.orEnterAfter {
    color: gray;
    font-size: 80%;
    font-weight: bold;

    margin: 10px;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square > a {
    Filter: invert(1);
}

.submit {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 1px solid lightgray;
}

.withBox {
    width: 60%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-items: center;
}

/* прячем input checkbox */
input[type="checkbox"] {
    display: none;
}

/* стили для метки */
label {
    color: white;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
}

.remPsd {
    margin-left: 5px;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
    content: " ";
    color: white;
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: #1fd17b;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
    content: "✔";
}
/* disabled */
input:disabled + label:before {
    background: #eee;
    color: #aaa;
}
