body {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-rows: 80px 8fr;
    grid-template-areas:
        "header"
        "main";
    /*grid-template-columns: 20% 1fr 15%;*/
    grid-gap: 35px;
    margin: 0;
}
main {
    padding: 20px;
    background: white;

    display: grid;
    grid-template-rows: 400px 4fr;
    grid-template-columns: 3fr 750px 3fr;
    grid-template-areas:
        ". window ."
        ". . .";

}

header {
    background-color: #1fd17b;
    margin: 8px 8px 0 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#pageHeader {
    grid-area: header;
    display: flex;
    align-items: flex-end;
}
#pageMain {
    grid-area: footer;
}

.logo {
    margin-left: 5%;
    margin-top: 0.5%;
}

div.window {
    grid-area: window;

    display: flex;
    /*align-content: space-between;*/
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    /*align-items: center;*/

    /*border: 2px solid #f9f9f9f9;*/
    font-family: sans-serif;

    border: 1px solid gainsboro;
    border-radius: 2px;

    height: 100%;
}

.game,
.reg {
    background-color: #f5f5f5;
}

.game,
.reg,
.auth,
.authors,
.menu {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/**/
.withArrow {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button {
    border: none;
    background-color: white;

    margin-right: 20px;
}

.gray {
    border: none;
    background-color: #f5f5f5;

    margin-right: 20px;
}

.round {
    display: flex;
    flex-direction: row; /* по умолчанию так и стоит */
    align-items: center;
    justify-content: start;

    margin-left: 2%;
}

div.name {
    margin-left: 2%;
}

.menu > div {
    margin-left: 2%;
    font-size: 35px;
}

.menu {
    border-bottom: 1px solid gainsboro;
    color: black;
}


.window > img {
    margin-left: 10px;
}

/**/
.round {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #23c85c;

    display: flex;
    align-items: center;
    justify-content: center;
}

.round > img {
    Filter: invert(1);
}

.arrow {
    margin-right: 4%;
}

button {
    cursor: pointer;
}

