.sidenav {
    width: 450px;
    position: fixed;
    height: 100%;
    background-color: var(--background-white);
    box-shadow: var(--shadow);
}

.sidenav-header {
    background-color: var(--mail-blue);
    height: 70px;
    padding-left: 10px;
}

.sidenav-body {
    background-color: var(--background-silver);
    padding: 20px;
    height: 100%;
    text-align: center;
    padding-top: 130px;
}

.sidenav-body__opened {
    background-color: var(--mail-blue);
    color: var(--background-white);
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
    height: 70px;
    width: 100%;
}

.sidenav-body__button {
    border: 1px solid var(--border-gray);
    margin-bottom: 20px;
    height: 70px;
    width: 100%;
    background-color: var(--background-silver);
    font-weight: bold;
    font-size: 17px;
}

.main-form {
    transform: translate(-50%, -50%);
    position: fixed;
}

.main-form__image {
    position: absolute;
    margin-top: -68px;
    margin-left: 480px;
    height: 28px;
}

@media (min-width: 1275px) {
    .main-form {
        left: 60%;
        top: 40%;
    }
    
}

@media (max-width: 1275px) and (min-width: 1050px) {
    .main-form {
        left: 750px;
        top: 40%;
    }
}

.main-form__input {
    border: 1px solid var(--border-gray);
    border-radius: 2px;
    height: 60px;
    width: 500px;
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 5px 15px;
}

@media (max-width: 1050px) {
    .main-form {
        left: 50%;
    }

    .main-form__image {
        margin-top: -46px;
        height: 20px;
        margin-left: 220px;
    }
    
    @media (max-height: 600px) {
        .main-form {
            top: 450px;
        }
    }

    @media (min-height: 600px) {
        .main-form {
            top: 500px;
        }
    }
    
    .sidenav {
        width: 90%;
        height: 320px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .sidenav-body {
        padding-top: 10px;
        height: 220px;
    }

    .sidenav-body__button {
        margin-bottom: 12px;
        height: 40px;
        font-size: 12px;
    }

    .sidenav-body__opened {
        margin-bottom: 12px;
        height: 40px;
        font-size: 12px;
    }

    .main-form__input {
        height: 20px;
        width: 90%;
    }

    .main-form__header {
        font-size: 19px;
    }
}

.main-form__header {
    font-weight: normal;
}

.main-form__button {
    height: 40px;
    width: 250px;
    font-size: 20px;
    background-color: var(--mail-blue);
    color: var(--background-white);
    padding-left: 40px;
}

.main-form__button-image {
    position: fixed;
    left: 20px;
    height: 24px;
}

.sidenav-body__anchor {
    color: var(--mail-blue);
    text-decoration: blink;
}

