b {
    font-size: 17px;
}

.profile {
    border: 1px solid var(--border-gray);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
}

@media (min-width: 700px) {
    .profile {
        width: 620px;
    }

    p {
        margin-block-start: 8px;
        font-size: 17px;
    }
}

@media (max-width: 700px) {
    .profile {
        width: 90%;
    }
    
    p {
        margin-block-start: 4px;
        font-size: 15px;
    }
}

.profile__header {
    padding: 10px;
    font-weight: normal;
}

.profile__userinfo {
    padding: 10px;
    border-top: 1px solid var(--border-gray);
    border-bottom: 1px solid var(--border-gray);
}

.profile__userinfo__row {
    display: flex;
    padding-left: 10px;
}

.profile__userinfo__row__field {
    flex-basis: 50%;
    margin-bottom: 10px;
}

.profile__buttons {
    padding: 10px;
    display: flex;
}

button {
    height: 40px;
    width: 90%;
    border: 1px solid var(--border-gray);
    padding: 0px;
    font-size: 20px;
}

.profile__buttons__update {
    background-color: var(--mail-blue);
    color: var(--background-white);
    margin-right: 10px;
}

.profile__buttons__delete {
    background-color: var(--button-gray);
    color: var(--background-gray);
    margin-left: 10px;
}