html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("images/hero-lg.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.signup {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.signup-title {
    color: var(--background-white);
    font-weight: normal;
}

@media (min-width: 1150px) {
    .signup-title{
        font-size: 50px;
        width: 1200px;
    }
}

@media (max-width: 1150px) and (min-width: 400px) {
    .signup-title{
        max-width: 90vw;
    }
}

@media (max-width: 400px) {
    .signup-title{
        font-size: 20px;
    }
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form__input {
    border-radius: 5px;
    height: 40px;
    margin-bottom: 12px;
    padding: 5px 15px;
    font-size: 18px;
}

.signup-form__button {
    margin-bottom: 12px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--mail-blue);
    color: var(--background-white);
    font-size: 14px;
    border-width: 0px;
}

.signup-form__eye {
    padding: 0 0 0 10px;
    margin-top: -48px;
    margin-left: 320px;
    margin-bottom: 28px;
    height: 20px;
}

@media (min-width: 400px) {
    .signup-form__input{
        width: 350px;
    }
}

@media (max-width: 400px) {
    .signup-form__input{
        width: 85vw;
    }

    .signup-form__eye {
        margin-left: 80vw;
    }
}

@media (max-width: 320px) {
    .signup{
        width: 320px;
    }

    .signup-form__eye {
        margin-left: 180px;
        margin-top: -36px;
    }

    .signup {
        width: 320px;
    }
    
    .signup-form {
        width: 320px;
    }

    .signup-form__input {
        width: 220px;
        margin: auto;
    }

    .signup-form__button {
        width: 220px;
    }

    body {
        background-repeat: no-repeat;
    }
}

.signup-form__anchor {
    color: var(--background-white);      
}

