body {
    background-color: var(--background-gray);
}

.update {
    box-shadow: var(--shadow);
    background-color: var(--background-white);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(svg/close_big.svg);
    background-repeat: no-repeat;
    background-size: 20px 35px;
    background-position: right 20px top 15px;
}

@media (min-width: 525px) { 
    .update {
        width: 500px;
    }
}

@media (max-width: 525px) { 
    .update {
        width: 100%;
    }
}

.update-header {
    padding-left: 20px;
    font-weight: normal;
    width: 350px;
}

@media (max-width: 400px) { 
    .update-header {
        padding-top: 50px;
    }
}

.update-form {
    margin-bottom: 28px;
    padding: 20px;
}

.update-form__input {
    padding-left: 10px; 
    border: 1px solid var(--border-gray);
    border-radius: 2px;
    height: 30px;
    width: 100%;
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
}

.error {
    border: 1px solid var(--red-error);
}

.login-form__error {
    color: var(--red-error);
}

.update-form__phone {
    display: flex;
}

.update-form__phone-select {
    padding-left: 10px;
    padding-top: 10px;
    height: 22px;
    border-radius: 1px;
    border: 1px solid black;
    background-size: 20px 35px;
    background: url(svg/drop_up_small.svg) no-repeat right 0px top 10px;
    flex-basis: 40%;
}

.update-form__phone-menu {
    padding-top: 5px;
    margin-bottom: 4px;
    background-color: var(--background-white);
    position: fixed;
    transform: translate(0%, -50%);
    width: 150px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid var(--border-gray);
}

@media (min-width: 400px) { 
    .update-form__phone-menu {
        top: 315px;
    }
}

@media (max-width: 400px) { 
    .update-form__phone-menu {
        top: 365px;
    }
}

@media (max-width: 320px) { 
    .update {
        width: 320px;
    }
}

.update-form__phone-menu__item {
    padding-left: 30px;
    padding-top: 10px;
}

.update-form__phone-menu__selectedItem {
    height: 30px;
    padding-left: 30px;
    padding-top: 10px;
    background: url(svg/done.svg) no-repeat 5px 0px;
    background-size: 20px 35px;
    background-color: var(--border-gray);
}

.update-form__phone-input {
    flex-basis: 60%;
}

.update-buttons {
    padding-left: 20px;
    margin-bottom: 12px;
    display: flex;
}

.update-buttons__update {
    height: 40px;
    width: 110px;
    margin-right: 12px;
    display: block;
    background-color: var(--mail-blue);
    color: var(--background-white);
    font-size: 14px;
}

.update-buttons__delete {
    background-color: var(--button-gray);
    width: 110px;
    font-size: 14px;
}


