body {
    background-color: var(--background-gray);
}

.update {
    box-shadow: var(--shadow);
    background-color: var(--background-white);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(svg/close_big.svg);
    background-repeat: no-repeat;
    background-size: 20px 35px;
    background-position: right 20px top 15px;
}

@media (min-width: 525px) { 
    .update {
        width: 500px;
    }
}

@media (max-width: 525px) { 
    .update {
        width: 100%;
    }
}

.update__header {
    padding-left: 20px;
    font-weight: normal;
    width: 350px;
}

@media (max-width: 400px) { 
    .update__header {
        padding-top: 50px;
    }
}


.update__form {
    margin-bottom: 30px;
    padding: 20px;
}

.update__form__input {
    border: 1px solid var(--border-gray);
    border-radius: 2px;
    height: 30px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.error {
    border: 1px solid var(--red-error);
}

.login__form__error {
    color: var(--red-error);
}

.update__form__phone {
    display: flex;
}

.update__form__phone__select {
    padding-left: 10px;
    padding-top: 8px;
    height: 24px;
    border-radius: 1px;
    border: 1px solid black;
    background-image: url(svg/drop_up_small.svg);
    background-repeat: no-repeat;
    background-size: 20px 35px;
    background-position: right 0px top;
    flex-basis: 40%;
}

.update__form__phone__menu {
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: var(--background-white);
    position: fixed;
    transform: translate(0%, -50%);
    width: 150px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid var(--border-gray);
}

@media (min-width: 400px) { 
    .update__form__phone__menu {
        top: 315px;
    }
}


@media (max-width: 400px) { 
    .update__form__phone__menu {
        top: 365px;
    }
}

.update__form__phone__menu__item {
    padding-left: 30px;
    padding-top: 8px;
}

.update__form__phone__menu__selectedItem {
    background-color: var(--border-gray);
    height: 30px;
    padding-left: 30px;
    padding-top: 8px;
    background-image: url(svg/done.svg);
    background-repeat: no-repeat;
    background-size: 20px 35px;
    background-position: 5px;
}

.update__form__phone__input {
    flex-basis: 60%;
}

.update__buttons {
    padding-left: 20px;
    margin-bottom: 10px;
    display: flex;
}

.update__buttons__update {
    height: 40px;
    width: 110px;
    margin-right: 10px;
    display: block;
    background-color: var(--mail-blue);
    color: var(--background-white);
    font-size: 14px;
}

.update__buttons__delete {
    background-color: var(--button-gray);
    width: 110px;
    font-size: 14px;
}


