
body {
	
    background-image: url("../media/hero-lg.jpg");
    background-repeat:no-repeat;
    #background-position: center 100px;
    background-size: 100%
}

h2 {
  text-align: center;
  font-weight:bold;
}

.wraper{
}

.sign_up_form {	
 font-family: Helvetica, Arial, san-serif;
  margin-top: 10px;
  margin-bottom: 80px;
  min-width: 400px;
  max-width: 400px;
  text-align: center;
}


.center{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


.heading{
    margin-top: 300px;
    color: white;
    font-size: 50px;
    min-width: 1200px;
}

.hint {
  color: white;
  font-size: 16px;
  font-weight:bold;
  text-align: center;
  margin-top: 15px;
  text-decoration: underline;
}


.btn_submit {
  background-color: #FFD700;
  width: 290px;
  border: 0px;
}


.btn {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #FFFFFF;
    font-weight:bold;  
    font-size: 16px;
    margin:0 auto;
    margin-top: 15px;
}

 #password + .glyphicon {
   margin-top: 6px;
   cursor: pointer;
   pointer-events: all;
 }
 
 .form-control {
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
 }



