
body {
	background: #FFFFFF;	
}

.wrapper {	
  font-family: Helvetica, Arial, san-serif;
  margin-top: 5px;
  margin-bottom: 0px;
  min-width: 400px;
  
  
}

.center{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.form-signin {
    
  max-width: 410px;
  padding: 15px 20px 20px;
  
  
  
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
    position: relative;


}


.upper_profile {
    background-color: #FFFFFF;
    position: relative;
    height: 80px;
    width: 100%;
    border-radius: 7px 7px 0 0; 
    border: 1px solid rgba(0,0,0,0.1);  
    text-align: left;
    color: #000000;
    font-weight:bold;  
    font-size: 32px;
    padding-top: 16px; 
    padding-left: 16px; 
}

.bottom_profile {
    background-color: #FFFFFF;
    position: relative;
    height: 80px;
    width: 100%;
    border-radius:  0 0 7px 7px; 
    border: 1px solid rgba(0,0,0,0.1);  
    padding-right: 20px; 
    padding-left: 20px;  
}



.profile_record {
    text-align: left;  
    font-size: 16px;
}

.profile_fields {
    margin-top: 18px;
    text-align: left;
    font-weight:bold;  
    font-size: 16px;
}


#razdel{
    width: 60px;
   }




.btn {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #FFFFFF; 
    font-size: 16px;
}
.btn_change {

  background-color: #FFD700;
  border: 1px solid #EAC300 ;
}

.btn_delete {
  background-color: #F7F7F7;
  border: 1px solid  #EDEDED;
  color: grey;
}

