body {
    background: white;
}
.container-header {
    display: flex;
    height: 60px;
    background-color:rgb(255,212,0);
    margin: 10px 2px;
}
.container-header__logo {
    display: flex;
    align-items: center;
    margin-left: 80px;
    cursor: pointer;
}

.container-body {
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu {
    width: 680px;
    height: 332px;

    margin-top: 18px;
    display: flex;
    flex-direction: column;

    background-color: white;
    border: 1px solid rgb(224,224,224);
    border-radius: 4px;
}
.menu__header {
    font-size: 32px;
    font-weight: bold;
    margin: 4%;
}

.menu-row {
    width: 680px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-row_light {
    background: white;
}
.menu-row_dark {
    background: rgb(245,245,245);
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background:rgb(40,199,93);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
}
.menu-row__icon {
    fill: white;
    margin-top: 3px;
}
.menu-row__title {
    margin-left: 16px;
    cursor: pointer;
}
.menu-row__dropdown {
    display: flex;
    margin-right: 16px;
    margin-left: auto;
    cursor: pointer;
}

.hr {
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid rgb(224,224,224);
    padding: 0;
    margin: 0
}