body {
    background: var(--main-bg-color);;
}
.container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    background-color: var(--yellow-color);
    margin: 10px 2px;
}
.container-header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 80px;
    cursor: pointer;
}

.container-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu {
    width: 680px;
    height: 332px;

    margin-top: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    background-color: var(--main-bg-color);
    border: 1px solid var(--border-gray-color);
    border-radius: var(--border-radius-size);
}
.menu__header {
    font-size: var(--header-font-size);
    font-weight: bold;
    margin: 4%;
}

.menu-row {
    width: 680px;
    height: 61px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.menu-row_light {
    background-color: white;
}
.menu-row_dark {
    background-color: rgb(245,245,245);
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(40,199,93);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
}
.menu-row__icon {
    fill: white;
    margin-top: 3px;
}
.menu-row__title {
    margin-left: 16px;
    cursor: pointer;
}
.menu-row__dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 16px;
    margin-left: auto;
    cursor: pointer;
}

.hr {
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid var(--border-gray-color);
    padding: 0;
    margin: 0
}