.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.profile {
    width: 420px;
    height: 432px;

    background-color: var(--main-bg-color);
    border: 1px solid var(--border-gray-color);
    border-radius: var(--border-radius-size);
}

.profile__header {
    text-align: center;
    font-size: var(--header-font-size);
    font-weight: bold;
    margin-top: 20px;
}

.profile__avatar {
    width: 48px;
    height: 48px;
    margin: 20px auto 0 auto;
    border-radius: 50%;
    background: rgb(240,240,240);
    cursor: pointer;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.profile-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
}

.row {
    width: 248px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid var(--border-gray-color);
}
.row_lower {
    border-bottom: none;
}

.row__title {
    width: 130px;
    font-weight: bold;
    font-size: var(--main-font-size);
}

.row__content {
    margin-left: 22px;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-user-select: text;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 18px;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--button-font-size);
    width: 146px;
    height: 40px;
    border-radius: var(--border-radius-size);
}
.btn_change {
    background-color: var(--yellow-color);
    color: white;
    border: 1px solid var(--btn-border-yellow-color);
    margin-right: 8px;
}

.btn_delete {
    background-color: rgb(247,247,247);
    color: rgb(156,156,156);
    border: 1px solid rgb(233,233,233)
}

.btn__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 8px;
}
.btn__icon_light {
    fill: white;
}
.btn__icon_dark {
    fill: rgb(156,156,156);
}