button {
    background-color: #FFFFFF;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}

.update-page {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    font-family: Helvetica, Arial, san-serif;
    font-size: 32px;
    background-color: #858585;
}

.update-page__main-block {
    width: 390px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.update-page__form {
    width: 100%;
    height: 308px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

.update-page__title {
    height: 70px;
    width: 50%;
    color: #000000;
    font-weight: bold;
    line-height: 1.16;
    display: inline-block;
}

.update-page__close-icon-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.update-page__close-icon {
    width: 14px;
    height: 14px;
    background: url("img/CloseBig.svg") no-repeat center;
}

.update-page__input-container {
    margin-top: 24px;
}

.update-page__input-text {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

.update-page__input {
    width: 100%;
    height: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-top: 3px;
}

.update-page__number-input {
    height: 100%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.update-page__number-input_country {
    width: 157px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: none;
    padding: 0 8px 0 12px;
}

.update-page_number {
    width: 192px;
    box-sizing: border-box;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 11px 10px 10px 12px;
}

.update-page_number::placeholder {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

.update-page-russia-icon {
    width: 16px;
    height: 11px;
    background: url("img/Ru.png") no-repeat center;
}

.update-page__country-title {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
}

.update-page__dropdown-icon-container {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 8px;
}

.update-page-dropdown-icon {
    width: 6px;
    height: 5px;
    background: url("img/Done.svg") no-repeat center;
}

.update-page__error-text-container {
    margin-top: 9px;
}

.update-page__error-text {
    color: #FF2C1D;
    font-weight: bold;
    font-size: 12px;
}

.update-page__footer {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #E0E0E0;
    padding: 20px;
    display: flex;
}

.update-page-button {
    padding: 6px 20px;
    box-sizing: border-box;
    background-color: #008079;
    border: 1px solid #00716A;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.update-page-button_gray {
    color: #363636;
    background-color: #F0F0F0;
    border: 1px solid #D3D3D3;
}

.update-page__cancel-button-container {
    margin-left: 8px;
}

.update-page__number-inputs-container {
    height: 40px;
    display: flex;
}

.update-page-dropdown {
    height: 40px;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.update-page__dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
}

.update-page__dropdown-drop_country {
    width: 157px;
    position: relative;
}

.update-page__dropdown-content .update-page__dropdown-drop {
    text-decoration: none;
    display: block;
    height: 40px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 12px 8px 12px 12px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.update-page-dropdown:hover .update-page__dropdown-content {
    display: block;
}

.update-page__dropdown-content a:hover {
    background-color: #f1f1f1;
}

.update-page-dropdown_country:hover .update-page__dropdown-content {
    display: block;
}

.update-page-ua-icon {
    width: 16px;
    height: 11px;
    background: url("img/Ua.png") no-repeat center;
    display: inline-block;
}

.update-page__input:hover::after {
    left: 0;
    top: 2em;
    position: absolute;
    width: 277px;
    height: 68px;
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #2BC75D;
    content: attr(data-tooltip);
}

.update-page__input-helper-text {
    position: absolute;
    width: 277px;
    height: 68px;
    box-sizing: border-box;
    padding: 17px 16px 20px 16px ;
    background: #FFFFFF;
    border-radius: 4px;
    display: block;
    top: -15px;
    bottom: 0;
    left: 360px;
    right: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.update-page-input-container:hover .update-page__helper-content {
    visibility: visible;
}

.update-page-input-container {
    position: relative;
}

.update-page__input-helper-text-title {
    font-size: 14px;
    font-weight: bold;
}

.update-page__input-helper-text-content {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
}


.update-page__input-triangle {
    position: absolute;
    top: 11px;
    left: 348px;
    color: #FFFFFF;
    font-size: 16px;
    z-index: 2;
    text-shadow: -8px 0 20px rgba(0,0,0,0.2);
}

.update-page__helper-content {
    visibility: hidden;
}
