body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #0a0a0a7e;
}

.container {
    height: 100vh;
    min-width: 260px;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

form {
    width: 450px;

    border: 1px solid gainsboro;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 6px 36px 6px #0a0a0a7e;
    padding: 10px 20px 20px;
}

form main, form .social {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-bottom: 16px;
}

form main > * {
    margin-bottom: 16px;
}

form main, form .social > *:last-child {
    margin-bottom: 0;
}

form .social > * {
    margin-bottom: 12px;
}

.login_form {
    margin: auto;
}

form header {
    text-align: center;
}

header h1 {
    margin-top: 12px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    min-height: 48px;
    height: 58px;
    font-size: 18px;
    width: 100%;
}

.vk_button img, .mail_button img {
    margin: 0px 12px 4px;
}

.fb_button img {
    margin: 0px 12px 4px;
}

.vk_button, .fb_button {
    border-radius: 10px;
    background: #45688E;
    color: #FFFFFF;
    cursor: pointer;
}

.vk_button:hover {
    background-color: rgb(73, 118, 167);
}

.vk_button:active {
    background-color:rgb(61, 90, 121);
}

.fb_button {
    background: #3b5998;
}

.fb_button:hover {
    background-color: #4666aa;
}

.fb_button:active {
    background-color: #38538b;
}

.mail_button {
    border-radius: 10px;
    background: #018176;
    color: #FFFFFF;
    cursor: pointer;
}

.mail_button:hover {
    background-color: #019185;
}

.mail_button:active {
    background-color: #02746a;
}

.hr-block {
    margin: 40px 0 40px 0;
}

.hr-text {
    border: none;
    border-top: 2px solid rgba(59, 59, 59, 0.418);
    color: black;
    overflow: visible;
    text-align: center;
    height: 5px;
    opacity: .5;
}

hr:after {
    background: #fff;
    content: 'или';
    padding: 0 5px;
    position: relative;
    top: -11px;
}

input {
    height: 50px;
    font-size: 16px;

    border-radius: 10px;
    padding: 0 10px;
    border: none;
    outline: 0;
    box-shadow: 0 0 0 2px #FFFFFF,
                0 0 0 4px #dfdddd;
    margin: 4px;
}

input:focus, button:focus {
    box-shadow: 0 0 0 2px #FFFFFF,
                0 0 0 4px rgb(61, 90, 121);
    outline: none;
    cursor: pointer;
}

input[type="password"] {
    box-shadow: 0 0 0 2px #FFFFFF,
                0 0 0 3px red;
    margin: 4px;
    background-size: 20px 42px;
    background: url(../assets/show.svg) no-repeat right 14px top 50%;      
}

span {
    padding: 5px 0;
    color: red;
    font-size: 14px;
}

@media (min-width: 50px) and (max-width: 690px) {
    form {
        width: inherit;
    }

    button {
        min-height: 48px;
        font-size: 16px;
        padding-right: 20px;
    }

    .hr-block {
        margin: 4px 0 20px 0
    }

    input {
        height: 40px;
        font-size: 14px;
    
        border-radius: 6px;
        padding: 0 10px;
    }

    input[type="password"] {
        background-size: 16px 32px;  
    }

    form .social {
        display: flex;
        flex-direction: column;
        height: max-content;
        margin: -8px 0 20px 0;
    }
}

@media (min-width: 50px) and (max-width: 690px) and (orientation: landscape) {
    .container .login_form {
        margin: 4px 0 12px 0;
    }

    form {
        width: inherit;
    }

    button {
        min-height: 48px;
        width: inherit;
        align-items: center;
    }

    .mail_button {
        width: 100%;
    }

    .hr-block {
        margin: 4px 0px 20px 0;
    }

    input {
        height: 40px;
        font-size: 15px;
        border-radius: 6px;
        padding: 0 10px;
    }

    input[type="password"] {
        background-size: 16px 32px;  
    }

    form .social {
        display: flex;
        flex-direction: row;
        height: max-content;
        margin: -8px 0 24px 0;
    }
    
    form .social > * {
        margin-bottom: 0px;
    }
}

@media (min-width: 691px) and (max-width: 1024px) {
    form {
        width: 450px;
    }

    button {
        height: 58px;
        font-size: 18px;
        padding-right: 20px;
    }

    .hr-block {
        margin: 36px 0 36px 0
    }

    input {
        height: 40px;
        font-size: 18px;
    
        border-radius: 8px;
        padding: 0 10px;
    }

    input[type="password"] {
        background-size: 16px 32px;  
    }
}
