@import "base.css";

body {
    background-color: #0a0a0a7e;
}

.container {
    justify-content: center;
    background: url("../assets/hero-lg.jpg") 100% 100% no-repeat;
    background-size: cover;
    background-position-y: bottom;
    min-height: 420px;
    min-width: 300px;
    margin: 12px 12px 0 12px;
}

.signup-content__title {
    text-align: center;
    font-size: 52px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    height: max-content;
    margin-top: 120px;
}

.signup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.signup-content__form {
    width: 450px;
    padding: 15px 20px 20px;
}

.signup-content__form .signup-form__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    height: max-content;
}

.signup-form__inputs input {
    margin-bottom: 24px;
}

.signup-form__inputs input[type="password"] {
    margin-bottom: 12px;
}

.signup-form__button {
    display: flex;
    flex-direction: row;
    justify-content: center;

    min-height: 48px;
    height: 54px;
    font-size: 18px;
    width: 270px;
    margin: auto;

    border: none;
    border-radius: 10px;
    background: #018176;
    color: #ffffff;
    cursor: pointer;
}

.signup-form__button:hover {
    background-color:#019185;
}

.signup-form__button:active {
    background-color:#02746a;
}

.signup-form__input {
    height: 48px;
    font-size: 16px;

    border-radius: 6px;
    padding: 0 10px;
    border: none;
    outline: 0;
    box-shadow: 0 0 0 2px #ffffff,
                0 0 0 4px #dfdddd;
    margin: 4px;
}

.signup-form__input:focus {
    box-shadow: 0 0 0 2px #ffffff,
                0 0 0 4px rgb(61, 90, 121);
    outline: none;
}

.signup-form__button:focus {
    box-shadow: 0 0 0 2px #ffffff,
                0 0 0 4px rgb(61, 90, 121);
    outline: none;
}

.signup-form__input[type="password"] {
    background-image: url(../assets/hide.svg);   
    background-repeat: no-repeat; 
    background-position: right 14px top 50%; 
}

.signup-form__link {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 16px;
    color: white;
    margin: 16px 0 0 0;
}

@media (min-width: 50px) and (max-width: 690px) {
    .signup-content {
        width: 100%;
    }

    .signup-content__title {
        font-size: 24px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .signup-content__form {
        width: 90%;
    }

    .signup-form__button {
        min-height: 48px;
        font-size: 16px;
    }

    .signup-form__input {
        height: 40px;
        font-size: 14px;
    }
}

@media (min-width: 50px) and (max-width: 690px) and (orientation: landscape) {
    .signup-content {
        width: 100%;
    }

    .signup-content__title {
        font-size: 22px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .signup-content__form {
        width: 90%;
    }

    .signup-content__form .signup-form__inputs {
        margin-bottom: 12px;
    }

    .signup-form__inputs input {
        margin-bottom: 16px;
    }

    .signup-form__button {
        min-height: 48px;
        font-size: 16px;
    }

    .signup-form__input {
        height: 40px;
        font-size: 14px;
    }

    .signup-content__title p {
        margin: 4px 0;
    }
}

@media (min-width: 691px) and (max-width: 760px) {
    .signup-content {
        width: 100%;
    }

    .signup-content__title {
        font-size: 28px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .signup-content__form {
        width: 90%;
    }

    .signup-form__button {
        min-height: 48px;
        font-size: 16px;
    }

    .signup-form__input {
        height: 40px;
        font-size: 14px;
    }
}

@media (min-width: 691px) and (max-width: 760px) and (orientation: landscape) {
    .signup-content {
        width: 100%;
    }

    .signup-content__title{
        font-size: 28px;
    }

    .signup-content__form {
        width: 90%;
        padding: 20px 0;
    }

    .signup-content__form .signup-form__inputs {
        margin-bottom: 12px;
    }

    .signup-form__inputs input {
        margin-bottom: 16px;
    }

    .signup-form__button {
        min-height: 48px;
        font-size: 16px;
    }

    .signup-form__input {
        height: 40px;
        font-size: 14px;
    }

    .signup-content__title p {
        margin: 4px 0;
    }
}
