body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #0a0a0a7e;
}

.container {
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

form {
    width: 450px;

    border: 1px solid gainsboro;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 6px 36px 6px #0a0a0a7e;
}

form main, form .social {
    display: flex;
    flex-direction: column;
    /* height: max-content; */
    margin-bottom: 18px;
}

span {
    padding: 6px 0;
    color: red;
    font-size: 15px;
}

form main > * {
    margin-bottom: 4px;
}

form main, form .social > *:last-child {
    margin-bottom: 0;
}

form .social > * {
    margin-bottom: 10px;
}

.container .update_form {
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

header h1 {
    font-size: 34px;
    margin-top: 10px;
}

header img {
    margin-top: 15px;
}

input {
    height: 28px;
    font-size: 16px;

    border-radius: 4px;
    padding: 0 10px;
    border: none;
    outline: 0;
    box-shadow: 0 0 0 2px #FFFFFF,
                0 0 0 4px #dfdddd;
    margin: 4px;
}

input:focus, button:focus {
    box-shadow: 0 0 0 2px #FFFFFF,
                0 0 0 4px rgb(61, 90, 121);
    outline: none;
}

input[type="email"] {
    box-shadow: 0 0 0 2px #FFFFFF,
                0 0 0 3px red;

    margin: 4px;  
}

button {
    height: 38px;
    font-size: 20px;
    width: 34%;

    border-radius: 4px;
    background: #018176;
    color: #FFFFFF;
    cursor: pointer;
}

.change_button:hover {
    background-color: #019185;
}

.change_button:active {
    background-color: #02746a;
}

.delete_button {
    border: 1px solid #e9e9e9;
    background: #f7f7f7;
    color: black;
}

.delete_button:hover {
    background-color: #ffffff;
}

.delete_button:active {
    background-color: #e7e7e7;
}

.phone_block {
    display: flex;
    flex-direction: row;
}

.select_list {
    width: 42%;  
    position: relative;
}

input[type="phone"] {
    min-width: 200px;
    width: min-content;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; 
}

.selected {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 28px;
    font-size: 16px;

    padding: 0 0 0 8px;
    border: none;
    box-shadow: 0 0 0 3px #FFFFFF,
                0 0 0 4px rgba(26, 25, 25, 0.466);
    margin: 4px 0 4px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.flag {
    margin-right: 10px;
}

div label {
    margin-right: 70px;
}

.block {
    padding: 24px 20px 40px;
    border-bottom: 1px solid #c5c5c5;
}

.list {
    top: 55%;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: white;
    position: absolute;
    z-index: 100;
    width: 150px;
    box-shadow: -7px 10px 65px -3px rgba(0,0,0,0.34);
    margin: 16px -2px;
}

.list div * {
    margin-left: 5px;
}

.option {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 36px;
    align-items: center; 
    
    margin-top: 4px;
}

.list > *:last-child {
    margin-left: 32px;
}

.select {
    background-color: lightgray; 
}

@media (min-width: 50px) and (max-width: 690px) {
    .update_form {
        width: inherit;
    }

    header h1 {
        font-size: 28px;
    }

    .select_list {
        width: 122px;
        font-size: 14px;
    }

    .selected {
        font-size: 14px;
    }

    input[type="phone"] {
        min-width: 80px;
        width: min-content;
        margin-left: 20px;
        padding-left: 5px;
    }

    div label {
        margin-right: 40px;
    }

    .block {
        padding: 30px 20px 40px;
    }

    button {
        height: 32px;
        font-size: 16px;
        width: 38%;
        border-radius: 4px;
        background: #018176;
        color: #FFFFFF;
        cursor: pointer;
    }

    input {
        padding: 0;
        font-size: 14px;
    }

    .list {
        width: 140px;
    }
}

@media (min-width: 50px) and (max-width: 690px) and (orientation: landscape) {
    .block {
        padding: 15px 20px 40px;
    }

    .block:last-child {
        padding: 25px 20px 40px;
    }
}

@media (min-width: 691px) and (max-width: 1024px) {
    .select_list {
        font-size: 16px;
    }

    .selected {
        width: 160px;
    }

    input[type="phone"] {
        min-width: 210px;
        width: min-content;
        margin-left: 4px;
        padding-left: 15px;
    }

    div label {
        margin-right: 60px;
    }

    .block {
        padding: 30px 20px 40px;
    }

    button {
        height: 32px;
        font-size: 16px;
        width: 38%;
        border-radius: 4px;
        background: #018176;
        color: #FFFFFF;
        cursor: pointer;
    }

    input {
        padding: 0;
        font-size: 16px;
    }

    .list {
        width: 140px;
    }
}

@media (min-width: 691px) and (max-width: 1024px) and (orientation: landscape) {
    .update_form {
        width: inherit;
    }

    header h1 {
        font-size: 28px;
        margin-top: 4px;
    }
    
    .block {
        padding: 15px 20px 40px;
    }

    .block:last-child {
        padding: 20px 20px 20px;
    }
}