.form__submit-btn {
    margin: 16px 4px 8px 4px;
    padding: 10px 70px 10px 70px;
    border: 1px solid #E0BA00;
    border-radius: .25rem;
    background: #FFD400;
    color: white;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}