.dropdown {
    position: relative;
    font-size: 13px;
    border: 1px solid var(--border-color);
    margin-right: -5px;
    height: 30px;
    z-index: 2;
    margin-bottom: 15px;
}

.dropdown:after {
    position: absolute;
    top: 9px;
    right: 7px;
    font-size: 10px;
    content: "\25bc";
}
