<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login-page">
        <div class="login-page__main-container">
            <div class="login-page__form">
                <div class="login-page__title">Войти</div>
                <div class="login-page__close-button-container">
                    <button class="login-page__close-button"></button>
                </div>
                <div class="login-page__input-container">
                    <input class="login-page__input" type="text" placeholder="Телефон или электронная почта">
                </div>
                <div class="login-page__input-container">
                    <input class="login-page__input" type="text" placeholder="Пароль">
                    <button class="login-page__eye-button"></button>
                </div>
                <div class="login-page__helper-container">
                    <div class="login-page__storage-password">
                        <div class="login-page__check-box"></div>
                        <div class="login-page__storage-text-container">
                            <div class="login-page__storage-text">Запомнить пароль</div>
                        </div>
                    </div>
                    <a href="#" class="login-page__storage-text login-page__storage-text_ref">Забыли пароль?</a>
                </div>
                <div class="login-page__entry-container">
                    <button class="login-page-entry-button"></button>
                </div>
                <div class="login-page__form-helpful-text">или продолжить через</div>
                <div class="login-page__social-buttons">
                    <div class="login-page__social-button-container">
                        <div class="login-page-social-button login-page-social-button_vk"></div>
                    </div>
                    <div class="login-page__social-button-container">
                        <div class="login-page-social-button login-page-social-button_fb"></div>
                    </div>
                    <div class="login-page__social-button-container">
                        <div class="login-page-social-button login-page-social-button_cl"></div>
                    </div>
                </div>
            </div>
            <footer class="login-page__footer">
                <a href="#" class="login-page__reg-text">Зарегистрироваться</a>
            </footer>
        </div>
    </div>
</body>
</html>