button {
    text-decoration: none;
    padding: 0;
    background-color: #FFFFFF;
    border-style: none;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}
.login-page {
    padding: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: Helvetica, Arial, san-serif;
    font-size: 15px;
    background-color: #858585;
}

.login-page__main-container {
    width: 420px;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-page__form {
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    position: relative;
}

.login-page__title {
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}

.login-page__close-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.login-page__close-button {
    width: 15px;
    height: 15px;
    background: url("img/CloseBig.svg") no-repeat center;
}

.login-page__input-container {
    margin-top: 20px;
    position: relative;
}

.login-page__input {
    width: 100%;
    height: 40px;
    padding: 12px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.login-page__input::placeholder {
    color: #7E7E7E;
    font-weight: bold;
}

.login-page__eye-button {
    width: 16px;
    height: 16px;
    background: url("img/Show.svg") no-repeat center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 12px;
    cursor: pointer;
}

.login-page__helper-container {
    height: 26px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding: 5px 0;
}
.login-page__storage-password {
    width: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.login-page__check-box {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid #00716A;
    background: #008079;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.login-page__check-box:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 48%;
    background: url("img/DonePerfect.svg") no-repeat center;
    z-index: 1;
}

.login-page__storage-text-container {
    margin-left: 8px;
}

.login-page__storage-text_ref {
    color: #005BD1;
}

.login-page__entry-container {
    margin: 18px 0 16px 0;
    display: flex;
    justify-content: center;
}

.login-page-entry-button {
    border: 1px solid #00716A;
    background: #008079;
    width: 180px;
    height: 40px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.login-page-entry-button:after {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    content: "Войти";
    color: #FFFFFF;
    font-weight: bold;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page__form-helpful-text {
    color: #9E9E9E;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.login-page__social-buttons {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.login-page__social-button-container {
    margin-right: 8px;
}

.login-page__social-button-container:last-child {
    margin-right: 0;
}

.login-page-social-button {
    width: 32px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    position: relative;
}

.login-page-social-button:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    cursor: pointer;
}

.login-page-social-button_vk {
    background: #4A76A8;
    border-color: #416894;
}

.login-page-social-button_vk:after {
    background: url("img/Vk.svg") no-repeat center;
    left: 48%;
}

.login-page-social-button_fb {
    background: #3B5998;
    border-color: #344E86;
}

.login-page-social-button_fb:after {
    background: url("img/Fb.svg") no-repeat center;
    left: 48%;
}

.login-page-social-button_cl {
    background: #EE8208;
    border-color: #D17207;
}

.login-page-social-button_cl:after {
    background: url("img/Ok.svg") no-repeat center;
}

.login-page__footer {
    height: 60px;
    border-top: 1px solid #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page__reg-text {
    color: #005BD1;
    text-align: center;
    vertical-align: middle;
}
