.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: bottom;
  background-color: #ffffff;

  &_black {
    background-color: #000000;
  }

  &_vk {
    mask-image: url("./components/Icon/img/vk.svg");
  }

  &_fb {
    mask-image: url("./components/Icon/img/fb.svg");
  }

  &_mail {
    mask-image: url("./components/Icon/img/mailru.svg");
  }

  &_access {
    mask-image: url("./components/Icon/img/access.svg");
  }

  &_game {
    mask-image: url("./components/Icon/img/game1.svg");
  }

  &_sign-in {
    mask-image: url("./components/Icon/img/sign_in.svg");
  }

  &_users {
    mask-image: url("./components/Icon/img/users.svg");
  }
}