:root {
	--color-black: rgba(0,0,0,0.5);
	--color-red: #FF2D54;
	--color-grey-lgh: #ced4da;
}

body {
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}

.login-body {
	background-color: #858585;
}

.login-container {
	background-color: white;
	box-shadow: 0 0 10px var(--color-black);
	border-radius: 5px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 28em;
	top: 50%;
	transform: translate(0, 47%);
}

.container-wrapper {
	border: 1px solid #E0E0E0;
	border-radius: 3px;
}

.container-shadow {
	-webkit-box-shadow: 0 0 40px -5px  var(--color-black);
	-moz-box-shadow: 0 0 40px -5px  var(--color-black);
	box-shadow: 0 0 40px -5px  var(--color-black);
}

.container-pos {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.input-container {
	padding: 1px 10px 10px 24px;
}

.invalid-input {
	font-size: 12px;
	color: red;
	font-family: Helvetica;
	font-weight: bold;
	padding-top: 5px;
}

.container_width_420 {
	width: 420px;
}

.title-font {
	font-family: Helvetica;
	font-size: 36px;
	font-weight: bold;
}

.info-font {
	font-size: 14px;
	font-family: Helvetica;
	color: black;
	font-weight: bold;
}

.btn {
	display: inline-flex;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	border-radius: .25rem;
	align-items: center;
	cursor: pointer;
}

.size_large {
	width: 130px;
	height: 40px;
}

.size_xlarge {
	width: 210px;
	height: 40px;
}


.btn-red {
	background-color: var(--color-red);
}

.btn-gray {
	background-color: #F7F7F7;
}

.btn-pink {
	background-color: #FF9AAC;
}

.btn-shadow {
	border-color: #CFCFCF;
}

.btn-font {
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
}

.font_size-16 {
	font-size: 16px;
}

.color_white {
	color: white;
}

.color_dark {
	color: #333333;
}

.color_gray {
	color: #9C9C9C;
}

.option-font {
	text-align: center;
	font-family: Helvetica, serif;
	font-size: 16px;
}

.option-font_pos {
	padding-left: 10px;
}

.comment-text {
	color: #9B9B9B;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: bold;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-form {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--color-grey-lgh);
    border-radius: .25rem;
}

.input-form_size {
	width: 89%;
	height: calc(1.5em + .2rem);
}

.country-img {
	width: 15px;
	height: 11px;
	margin-left: 12px;
}

.icon-drop-down_pos {
	margin-left: auto;
	padding-right: 4px;
}

.custom-select {
	display: inline-flex;
	align-items: center
}

.top-line {
	border: none;
	background-color: #E0E0E0;
	height: 1px;
	margin-top: -10px;
}
