.login-body {
	background-color: #858585;
}
.login-container {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 5px;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 28em;
	/*height: 30em;*/
	top: 50%;
	transform: translate(0, 47%);
}

.container-wrapper {
	border: 1px solid #E0E0E0;
	border-radius: 3px;
}

.container-shadow {
	-webkit-box-shadow: 0 0 40px -5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 40px -5px rgba(0,0,0,0.5);
	box-shadow: 0 0 40px -5px rgba(0,0,0,0.5);
}

.container-pos {
	display: block;
	margin-left: auto;
	margin-right: auto;  
}

.input-container {
	padding: 1px 10px 10px 24px;
}

.invalid-input {
	font-size: 14px;
	color: red;
	font-family: Helvetica;
	font-weight: bold;
}

.con-w-28 {
	width: 28em;
}

.title-font {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
}

.info-font {
	font-size: 14px;
	font-family: Helvetica;
	color: black;
	font-weight: bold;
}

.btn {
	display: inline-flex;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	box-shadow: 0px 5px 6px -6px rgba(0,0,0,0.5);
	padding: .375rem .75rem;
	border-radius: .25rem;
	align-items: center;
	cursor: pointer;
}

.btn-3 {
	width: 130px;
	height: 40px;
}

.btn-21 {
	width: 210px;
	height: 40px;
}


.btn-red {
	background-color: #FF2D54;
}

.btn-gray {
	background-color: #F7F7F7;
}

.btn-pink {
	background-color: #FF9AAC;
}

.btn-shadow {
	border-color: #CFCFCF;
}

.btn-font {
	font-family: Helvetica;
	font-size: 15px;
	font-weight: bold;
}

.font-size-20 {
	font-size: 17px;
}

.font-color-white {
	color: white;
}

.font-color-black {
	color: #333333;
}

.font-color-gray {
	color: #9C9C9C;
}

.option-font {
	text-align: center;
	font-family: Helvetica, serif;
	font-size: 15px;
}

.option-font_pos {
	padding-left: 10px;
}

.comment-text {
	color: #9B9B9B;
	font-size: 15px;
	font-family: Helvetica;
	font-weight: bold;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-form {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-form_size {
	width: 89%;
	height: calc(1.5em + .2rem);
}

.country-img {
	width: 15px;
	height: 11px;
	margin-left: 12px;
}

.icon-drop-down_pos {
	margin-left: auto;
	padding-right: 4px;
}

.custom-select {
	display: inline-flex;
	align-items: center
}

.top-line {
	border: none;
	background-color: #E0E0E0;
	height: 1px;
	margin-top: -10px;
}
