.icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: transparent;
}

/*****************************************************************/

.russia-icon {
	-webkit-background-image:  url("../icons/countries/ru.png");
	background-image:  url("../icons/countries/ru.png");
}
.back-btn-icon {
	-webkit-mask-image: url("../icons/drop_previous_big.svg");
	mask-image: url("../icons/drop_previous_big.svg");
}

.mailru-icon {
	-webkit-mask-image: url("../icons/mailru.svg");
	mask-image: url("../icons/mailru.svg");
}

.auth-icon {
	-webkit-mask-image: url("../icons/sign_in.svg");
	mask-image: url("../icons/sign_in.svg");
}

.access-icon {
	-webkit-mask-image: url("../icons/access.svg");
	mask-image: url("../icons/access.svg");
}

.users-icon {
	-webkit-mask-image: url("../icons/users.svg");
	mask-image: url("../icons/users.svg");
}

.games-icon {
	-webkit-mask-image: url("../icons/game1.svg");
	mask-image: url("../icons/game1.svg");
}

.close-big-icon {
	-webkit-mask-image: url("../icons/close_big.svg");
	mask-image: url("../icons/close_big.svg");
}

.close-icon {
	-webkit-mask-image: url("../icons/close.svg");
	mask-image: url("../icons/close.svg");
}

.show-icon {
	-webkit-mask-image: url("../icons/show.svg");
	mask-image: url("../icons/show.svg");
}

.vk-icon {
	-webkit-mask-image: url("../icons/vk.svg");
	mask-image: url("../icons/vk.svg");
}

.fb-icon {
	-webkit-mask-image: url("../icons/fb.svg");
	mask-image: url("../icons/fb.svg");
}

.ok-icon {
	-webkit-mask-image: url("../icons/ok.svg");
	mask-image: url("../icons/ok.svg");
}

.arrow-down-icon {
	-webkit-mask-image: url("../icons/drop_down.svg");
	mask-image: url("../icons/drop_down.svg");
}

.user-edit-icon {
	-webkit-mask-image: url("../icons/user_edit.svg");
	mask-image: url("../icons/user_edit.svg");
}

.delete-icon {
	-webkit-mask-image: url("../icons/delete.svg");
	mask-image: url("../icons/delete.svg");
}

/*****************************************************************/

.icon-size-10 {
	width: 10px;
	height: 10px;
}

.icon-size-16 {
	width: 16px;
	height: 16px;
}

.icon-size-20 {
	width: 20px;
	height: 20px;
}

.icon-size-25 {
	width: 25px;
	height: 25px;
}

/*****************************************************************/

.icon-orange {
	background-color: #FF9E00;
}

.icon-green {
	background-color: #28C75D;
}

.icon-black {
	background-color: black;
}

.icon-white {
	background-color: white;
}

.icon-gb {
	background-color: #4A76A8;
}
.icon-blue {
	background-color: #3B5998;
}

.icon-gray {
	background-color: #9C9C9C;
}

/*****************************************************************/

.icon-button {
	cursor: pointer;
}
