.con-h-41 {
	height: 41em;
}

.btn-block {
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
}
.title-block {
	text-align: left;
	padding-left: 20px;
	margin-top: -5px;
}

.required-area {
	height: 60px;
}

.input-container {
    padding: 1px 10px 10px 25px;
}

.required-area input:invalid {
	border-color: red;
}

input:valid ~ .invalid-input {
	display: none;
}

.date-block {
	align-items: center;
	padding-right: 5px;
}

.block-size-30 {
	width: 105%;
}

.select-control {
	display: inline-block;
	width: 30%;
	height: 40px;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: normal;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	background: url('../icons/drop_down_big.svg') no-repeat right .5rem center/11px 11px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
}

.phone-block {
	display: grid;
}

.country-code-wrapper {
	padding-left: 25px; /* image-width */
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 30%;
}

.ukraine-img {
	background-image: url(../icons/countries/ua.png);
}

.btn-font-pos {
	margin: auto;
}

.btn-border {
	border: 1px solid #ced4da;
}

.form-phone-group {
	position: relative;
	margin-bottom: 1rem;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	height: 34px;
	margin-right: 20px;
}

.phone-input-form {
	display: block;
    width: 180px;
    height: 28px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    margin: -42px -8px 14px 161px;
}

.custom-select-wrapper {
	width: 160px;
	border: 1px solid #ced4da;
	border-radius: .25rem 0rem 0rem .25rem;
	height: 40px;
}

.password_pos {
	padding-top: 10px;
}
