/* Всплывающее окно*/



dialog .text_with_line {
    text-align: center;
    font-size: 12px;
	color: grey;
	padding: 0px;
	height: 1px;
	margin-bottom: 20px;
    background-color: lightgrey;
}

.dialog_padding {
	padding: 5px;
}

.dialog {
	width: 30%;
	min-width: 300px;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
	background: #fafafa;
	animation: dialogSlide 0.3s;
}

.dialog::backdrop {
	background: rgba(0, 0, 0, 0.7);
	animation: dialogBackdropFade 0.2s;
}

@keyframes dialogSlide {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
}

@keyframes dialogBackdropFade {
	from {
		background: rgba(0, 0, 0, 0);
	}
}