.form__checkbox {
    position: absolute;
    display: none;
    outline: none;
}

.form__checkbox + label {
    position: relative;
    padding: 0 0 0 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: small;
}

.form__checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #E0E0E0;
    border-radius: .25rem;
}

.form__checkbox:checked + label:before {
    background: #FFD400;
    border-color: #E0BA00;
    text-align: center;
    content: url("done.svg");
}
/*.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}
.checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
.checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
.checkbox:checked + label:before {
    background: #9FD468;
}
.checkbox:checked + label:after {
    left: 26px;
}
.checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}*/