.btn {
  background-color: $main-color;
  border: 1px solid $main-color-dark;
  border-radius: 3px;
  box-shadow: 0 2px $outline-color;
  color: white;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  padding: 5px 10px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-content: center;

  &:focus {
    outline: none;
  }

  &_color_muted {
    color: $muted-color-dark;
    background-color: $muted-color-light;
    border-color: $border-color;
  }

  &_large {
    height: 40px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2px;
  }
  &__text {
    &_normal {
      font-weight: normal;
    }
  }

  &__icon-span {
    margin-right: 8px;
  }

}