@import "../modules/mixins";

$btn-hover-transition: 0.5s;
$btn-active-transition: 0.2s;


@mixin btn-color($bg, $color, $bg-hover: darker($bg), $color-hover: $color,
                 $bg-active: darker(darker($bg)), $color-active: $color, $block) {
  // TLDR: set animations (0.5 for hover, 0.2 for click), and colors to those given
  // default: bg gets darker, text color doesn't change. Icon is treated like text.
  // btn_disabled is not reactive
  $hover-duration: 0.5s;
  $active-duration: 0.2s;

  @include transition(_transition(background-color, $hover-duration),
          _transition(color, $hover-duration));
  background-color: $bg;
  color: $color;

  #{$block}__icon-span {
    @include transition(_transition(background-color, $hover-duration));
    background-color: $color;
  }

  &:hover:not(#{$block}_disabled) {
    @include transition(_transition(background-color, $hover-duration),
            _transition(color, $hover-duration));
    background-color: $bg-hover;
    color: $color-hover;
    #{$block}__icon-span {
      @include transition(_transition(background-color, $hover-duration));
      background-color: $color-hover;
    }
  }

  &:active:not(#{$block}_disabled) {
    @include transition(_transition(background-color, $active-duration),
            _transition(color, $active-duration));
    background-color: $bg-active;
    color: $color-active;
    #{$block}__icon-span {
      @include transition(_transition(background-color, $active-duration));
      background-color: $color-active;
    }
  }
}

.btn {
  $block: &;
  $height: 32px;
  $height-large: 40px;
  $font-size: 16px;
  @include shadow(0 2px $outline-color);
  @include btn-color($main-color, white, $block: $block);
  border: 1px solid $main-color-dark;
  border-radius: 3px;
  cursor: pointer;
  font-size: $font-size;
  font-weight: bold;
  padding: 5px 15px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: $font-size;
  &:focus {
    outline: none;
  }

  &_color_muted {
    @include btn-color ($muted-color-light, black,
                        $color-hover: darker($muted-color-dark),
                        $color-active: darker(darker($muted-color-dark)),
                        $block: $block);
    border-color: $muted-color-dark;
  }

  &_large {
    height: $height-large;
    #{$block}__text {
      line-height: $font-size +  abs($height - $height-large) / 2;
    }
  }

  &_disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2px;
  }

  &__text {
    &_normal {
      font-weight: normal;
    }
  }

  &__icon-span {
    margin-right: 8px;
  }

}