@mixin appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox {
  @include appearance-none();
  vertical-align: bottom;
  position: relative;
  background-color: $main-color;
  margin: 0;
  top: -3px;
  border-radius: 3px;
  cursor: pointer;
  height: 14px;
  width: 14px;
  &:checked::after {
    position: absolute;
    top: -20%;
    right: -5%;
    content: "\2713";
    font-weight: bold;
    font-size: 120%;
    color: white;
    @-moz-document url-prefix() {
      top: -10%;
      right: 0;
      font-size: 50%;
    }
  }
  &:focus {
    outline: none;
  }
  &_size_small {
    width: 12px;
    height: 12px;
  }
}