@import "../modules/mixins";

.field-group {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: stretch;

  &__field {
    @include firefox {
      .input__field {
        // I SWEAR THE CRAZIEST THING HAPPENED:
        // a man in a mask broke in, put a gun to my head
        // and told me to write nested selectors
        width: 100%;
      }
    }
    &_position {
      &_prepend {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 0;
        margin-right: 0;
      }
      &_append {
        margin-left: 0;
        border-left-width: 1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &_stretched {
      @for $i from 1 through 12 {
        &_#{$i} {
          flex-grow: $i;
        }
      }
    }
  }
}