.form-group {
  display: flex;
  flex-direction: column;
  &_align_space-between {
    flex-direction: row;
    justify-content: space-between;
  }
  &_align_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &_inline {
    margin: 0;
  }
}