@import "../modules/theme";

.header {
  display: flex;
  align-items: center;

  height: 50px;
  padding-left: 75px;

  background-color: $main-color;

  &_main {
    margin: 8px 8px 24px;
  }

  &__title {
    margin: 0 0 0 4px;
    padding: 0;
    font-size: 24px;

    color: white;
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }
}