@import "../modules/theme";

.header {
  &_main {
    margin: 8px 8px 24px;
  }
  height: 50px;
  padding-left: 75px;
  background-color: $main-color;
  display: flex;
  align-items: center;

  &__title {
    color: white;
    font-size: 24px;
    margin: 0 0 0 4px;
    padding: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    &:hover {
      text-decoration: none;
    }
  }
}