@import "../modules/mixins";
$icons-path: "../../icons";

$eye-icon: $icons-path + "/show.svg";
$cross-icon: $icons-path + "/close.svg";
$vk-icon: $icons-path + "/vk.svg";
$fb-icon: $icons-path + "/fb.svg";
$ok-icon: $icons-path + "/ok.svg";
$mailru-icon: $icons-path + "/mailru.svg";
$dropdown-icon: $icons-path + "/drop_down.svg";
$signin-icon: $icons-path + "/sign_in.svg";
$key-icon: $icons-path + "/access.svg";
$users-icon: $icons-path + "/users.svg";
$gamepad-icon: $icons-path + "/game1.svg";
$delete-icon: $icons-path + "/delete.svg";
$useredit-icon: $icons-path + "/user_edit.svg";
$checkmark-icon: $icons-path + "/done.svg";

$ru-png: $icons-path + "/ru.png";

$icon-size: 14px;
$small-icon-size: 12px;
$large-icon-size: 20px;
$xlarge-icon-size: 24px;
$xxlarge-icon-size: 32px;
$xxxlarge-icon-size: 40px;

$icon-wrapper-size: 20px;
$large-icon-wrapper-size: 24px;
$xlarge-icon-wrapper-size: 28px;
$xxlarge-icon-wrapper-size: 36px;
$xxxlarge-icon-wrapper-size: 50px;
$tall-icon-wrapper-height: 30px;
$tall-icon-wrapper-width: 20px;

// icons
.icon-span {
    display: inline-block;
    -webkit-mask-size: contain;
    mask-size: contain;
    height: $icon-size;
    width: $icon-size;

    &_size{
        &_small {
        height: $small-icon-size;
        width: $small-icon-size;
        }
        &_large {
            height: $large-icon-size;
            width: $large-icon-size;
        }
        &_xlarge {
            height: $xlarge-icon-size;
            width: $xlarge-icon-size;
        }
        &_xxlarge {
            height: $xxlarge-icon-size;
            width: $xxlarge-icon-size;
        }
        &_xxxlarge {
            height: $xxxlarge-icon-size;
            width: $xxxlarge-icon-size;
        }
    }
    &_color {
        &_green {
            background-color: $green;
        }
        &_orange {
            background-color: $orange;
        }
        &_white {
            background-color: white;
        }
        &_black {
            background-color: black;
        }
        &_muted {
            background-color: $muted-color-dark;
        }
        &_muted-light {
            background-color: $muted-color-light;
        }
    }
    &_type {
        &_cross {
            @include mask-image($cross-icon);
        }
        &_eye {
            @include mask-image($eye-icon);
        }
        &_vk {
            @include mask-image($vk-icon);
        }
        &_fb {
            @include mask-image($fb-icon);
        }
        &_ok {
            @include mask-image($ok-icon);
        }
        &_mailru {
            @include mask-image($mailru-icon);
        }
        &_users {
            @include mask-image($users-icon);
        }
        &_key {
            @include mask-image($key-icon);
        }
        &_gamepad {
            @include mask-image($gamepad-icon);
        }
        &_signin {
            @include mask-image($signin-icon);
        }
        &_dropdown {
            @include mask-image($dropdown-icon);
        }
        &_useredit {
            @include mask-image($useredit-icon);
        }
        &_delete {
            @include mask-image($delete-icon);
        }
        &_ru {
            background-image: url($ru-png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0 30%;
        }
    }
    //flags
    &_btn {
        cursor: pointer;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: 1px solid $border-color;

    &_shape {
        &_round {
            border-radius: 100%;
        }
    }

    &_color {
        &_green {
            background-color: $green;
        }
        &_white {
            background-color: white;
        }
        &_black {
            background-color: black;
        }
        &_muted {
            background-color: $muted-color-dark;
        }
        &_muted-light {
            background-color: $muted-color-light;
        }
        &_vk {
            background-color: $vk-color;
        }
        &_fb {
            background-color: $fb-color;
        }
        &_ok {
            background-color: $ok-color;
        }
    }
    &_size {
        &_large {
            width: $large-icon-wrapper-size;
            height: $large-icon-wrapper-size;
        }
        &_xlarge {
            width: $xlarge-icon-wrapper-size;
            height: $xlarge-icon-wrapper-size;
        }
        &_xxlarge {
            width: $xxlarge-icon-wrapper-size;
            height: $xxlarge-icon-wrapper-size;
        }

        &_xxxlarge {
            width: $xxxlarge-icon-wrapper-size;
            height: $xxxlarge-icon-wrapper-size;
        }

        &_tall {
            height: $tall-icon-wrapper-height;
            width: $tall-icon-wrapper-width;
        }
    }
    //flags
    &_btn {
        cursor: pointer;
    }
    &_borderless {
        border: none;
    }
}