// form-related invariant styles

$input-height: 20px;
$input-padding-top: 6px;
$input-padding-bottom: 4px;
$input-padding-sides: 10px;
$input-total-height: $input-height + $input-padding-bottom + $input-padding-top + 2px; // border 2px
$input-border-radius: 3px;
.input{
  @include transition(_transition(box-shadow, 0.2s));
  border-radius: $input-border-radius;
  padding: 0;
  border: 1px solid $border-color;
  min-width: fit-content; // this is important
  position: relative;
  display: flex;
  z-index: $z-index-input;

  &:focus-within {
    border-color: lightblue;
    @include shadow($shadow-focus);
    z-index: $z-index-shadow;
  }

  &_with-icon {
    padding-right: 20px;
  }
  &_status {
    &_error {
      border-color: $error-color;
      &:focus-within {
        border-color: $error-color;
      }
    }
  }
  &__icon-span {
    position: absolute;
    top: ($input-total-height - $icon-size) / 2;
    right: $input-padding-sides;
    &.icon_size_small {
      top: ($input-total-height - $small-icon-size) / 2;
    }
    &.icon_size_large {
      top: ($input-total-height - $large-icon-size) / 2;
    }
  }
  &__field {
    min-width: 0;
    flex-grow: 1;
    display: inline-block;
    line-height: 12px;
    height: $input-height;
    border-radius: $input-border-radius;
    // can't align the text any other way
    padding: $input-padding-top $input-padding-sides $input-padding-bottom $input-padding-sides;
    border-width: 0;
    font-size: 12px;
    outline: none;
    margin: 0; // kinda !important but i feel bad putting it there
    @include firefox {
      // 16 + 7 = 20 + 3 so size doesn't change, just the alignment
      height: $input-height - 4px;
      padding: $input-padding-top $input-padding-sides $input-padding-bottom + 4px $input-padding-sides;
    }
    &_prepended {
      padding-left: 0;
    }
  }

  &__field-appendix {
    display: inline-block;
    border-radius: $input-border-radius;
    top: -2px;
    margin: 0;
    height: $input-height; // minus the border
    font-size: 12px;
    padding: 9px 2px 3px 2px;
    pointer-events: none;
    @include firefox {
      // BECAUSE APPARENTLY THIS IS NOT IMPLIED
      line-height: 12px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
  }

  &__tooltip {
    $width: 200px;
    $height: 30px;
    $arrow-length: 6px;
    $arrow-width: 4px;
    $padding: 10px;
    position: absolute;
    padding: $padding;
    width: $width;
    height: $height;
    right: - $width - $arrow-length - $input-padding-sides - $padding - 1px;
    top: $input-total-height - $height - $padding - 1px; //1 px for border
    z-index: $z-index-tooltip;
    background-color: white;
    @include shadow($shadow-tiny);
    border-radius: 3px;
    pointer-events: none;
    &::before {
      position: absolute;
      left: - $arrow-length;
      top: ($height + $padding) / 2;
      content: "";
      border-style: solid;
      border-width: $arrow-width $arrow-length $arrow-width 0;
      border-color: transparent white transparent transparent;
    }
  }

  &__tooltip-title {
    font-size: $small-font-size;
    color: black;
    display: block;
  }

  &__tooltip-help {
    font-size: $smaller-font-size;
    color: $muted-color-dark;
  }
}

.input {
  // preference over input__field in case an input has both types
  border-width: 1px;
}