.menu {
  $block: &;
  $menu-item-height: 55px;

  width: 60%;
  min-width: fit-content;
  max-width: 600px;
  margin: 0 auto;

  border-radius: 3px;
  // border takes up space, making colored elements leaves blank pixels
  // so I use a shadow-border
  @include shadow(0 0 0 1px $border-color, $shadow-outline);

  &__title {
    margin:0;
    padding: 15px;
    text-align: left;
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    color: black;
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;

    height: $menu-item-height;
    padding: 0 15px 0 20px;

    &:last-child {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  &__dropdown-btn {
    position: absolute;
    top: 20px;
    right: 10px;
  }

  &__icon-bg {
    margin-right: 12px;
  }

  &__items {
    &_color_white-whitesmoke-chain {
      // there's probably a better way, but I couldn't find it :<
      #{$block}__item:nth-of-type(even) {
        background-color: whitesmoke;
      }
    }
  }

}