@import "../modules/mixins";

$select-height: 20px;
$select-padding-top: 6px;
$select-padding-bottom: 4px;
$select-padding-sides: 10px;
$select-border-radius: 3px;

$select-total-height: $select-height + $select-padding-top + $select-padding-bottom;

.select {
  @include transition(_transition(box-shadow, 0.2s));
  border: 1px solid $border-color;
  border-radius: $select-border-radius;
  position: relative;
  min-width: fit-content;
  width: -moz-fit-content;


  &:focus-within {
    border-color: $color-focus;
    @include shadow($shadow-focus);
    z-index: $z-index-shadow;
  }

  &_stretched {
    width: 100%;
  }


  &_with-icon {
    .select__field {
      padding-left: $select-padding-sides + $icon-size + 3px;
    }
  }

  &_status {
    &_error {
      border-color: $error-color;
      &:focus-within {
        border-color: $error-color;
      }
    }
  }

  &__field {
    @include appearance-none;
    width: 100%;
    width: -moz-fit-content;
    font-size: 12px;
    background-color: white;
    border-width: 0;
    border-radius: $select-border-radius;
    height: $select-total-height; // it's inline so gotta add the padding
    padding: $select-padding-top $select-padding-sides + $small-icon-size + 2px
             $select-padding-bottom $select-padding-sides;
    @include firefox {
      padding: $select-padding-top - 2px $select-padding-sides + $small-icon-size + 2px
      $select-padding-bottom + 2px $select-padding-sides;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
  &__dropdown-icon {
    @extend .icon-span_size_small;
    position: absolute;
    top: (($select-total-height - $small-icon-size) / 2);
    right: 5px;
    pointer-events: none
  }

  &__chosen-icon {
    position: absolute;
    pointer-events: none;
    top: (($select-total-height - $icon-size) / 2);
    left: $select-padding-sides;
  }


  //options are ugly af but can't do much without js
}