@import "../modules/theme";

.signup-popup {
  @extend %popup;
  max-width: 450px;

  border: 1px solid $border-color;

  &_main {
    margin: 8px 0 0 0;
  }

  &__hr {
    margin: 12px (0-$popup-right-padding - 1) 12px (0-$popup-left-padding - 1);
  }

  &__title {
    margin: 0 0 4px 0;
    text-align: left;
  }

  &__explanation-text {
    margin: 8px 0;
    font-size: 12px;
    color: $muted-color-dark;
  }

  &__double-btn {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
  }

  &__signup-btn {
    margin-right: 4px;
  }
  &__cancel-btn {
    margin-left: 4px;
  }
}