@import '../modules/theme';

.sm-icons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__icon {
    @extend .icon_size_tall;
    @extend .icon_btn;
    @include shadow($shadow-outline);
    margin: 0 2px;
    &:hover {
      @include shadow($shadow-outline, $shadow-small-focus);
    }
  }

  &__icon-span {
    @extend .icon-span_color_white;
    @extend .icon-span_size_small;
  }

}