<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>var4_profile</title>
    <link rel="stylesheet" href="css/container/container.css">
    <link rel="stylesheet" href="css/container/_theme/container_theme_light.css">
    <link rel="stylesheet" href="css/container/_centering/container_centering_x.css">
    <link rel="stylesheet" href="css/card/card.css">
    <link rel="stylesheet" href="css/card/_theme/card_theme_form.css">
    <link rel="stylesheet" href="css/card/_bordered/card_bordered.css">
    <link rel="stylesheet" href="css/card/__body/card__body.css">
    <link rel="stylesheet" href="css/card/__title/card__title.css">
    <link rel="stylesheet" href="css/card/__title/_no-margin/card__title_no-margin.css">
    <link rel="stylesheet" href="css/column/column.css">
    <link rel="stylesheet" href="css/column/_w/column_w_75.css">
    <link rel="stylesheet" href="css/column/_align/column_align_center.css">
    <link rel="stylesheet" href="css/circle/circle.css">
    <link rel="stylesheet" href="css/circle/_theme/light.css">
    <link rel="stylesheet" href="css/circle/_no-padding/no-padding.css">
    <link rel="stylesheet" href="css/circle/__content/circle__content.css">
    <link rel="stylesheet" href="css/list/list.css">
    <link rel="stylesheet" href="css/list/_underlined/list_underlined.css">
    <link rel="stylesheet" href="css/list/__elem/list__elem.css">
    <link rel="stylesheet" href="css/list/__key/list__key.css">
    <link rel="stylesheet" href="css/row/row.css">
    <link rel="stylesheet" href="css/row/_justify/row_justify_center.css">
    <link rel="stylesheet" href="css/form/__submit-btn/form__submit-btn.css">
    <link rel="stylesheet" href="css/form/__submit-btn/_mini/form__submit-btn_mini.css">
    <link rel="stylesheet" href="css/form/__submit-btn/_theme/form__submit-btn_theme_light.css">
</head>
<body class="container container_theme_light container_centering_x">
    <div class="card card_theme_form card_bordered">
        <div class="card__body column column_align_center">
            <h1 class="card__title">Профиль</h1>
            <div class="circle circle_theme_light circle_no-padding">
                <h1 class="card__title card__title_no-margin">ИИ</h1>
            </div>
            <ul class="list list_underlined column column_w_75">
                <li class="list__elem">
                    <span class="list__key">Никнейм</span>
                    <span>vileven</span>
                </li>
                <li class="list__elem">
                    <span class="list__key">Имя</span>
                    <span>Иван</span>
                </li>
                <li class="list__elem">
                    <span class="list__key">Фамилия</span>
                    <span>Иванов</span>
                </li>
                <li class="list__elem">
                    <span class="list__key">Дата рождения</span>
                    <span>15.06.1997</span>
                </li>
                <li class="list__elem">
                    <span class="list__key">Пол</span>
                    <span>Мужской</span>
                </li>
            </ul>
            <div class="row row_justify_center">
                <a href="#" class="form__submit-btn form__submit-btn_mini">
                    <img src="img/user_edit.svg" alt="Изменить">
                    Изменить
                </a>
                <a href="#" class="form__submit-btn form__submit-btn_mini form__submit-btn_theme_light">
                    <img src="img/delete.svg" alt="Удалить">
                    Удалить
                </a>
            </div>
        </div>
    </div>
</body>
</html>