<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>var4_menu</title>
    <link rel="stylesheet" href="css/container/container.css">
    <link rel="stylesheet" href="css/container/_theme/container_theme_dark.css">
    <link rel="stylesheet" href="css/header/header.css">
    <link rel="stylesheet" href="css/row/row.css">
    <link rel="stylesheet" href="css/row/_justify/row_justify_center.css">
    <link rel="stylesheet" href="css/column/column.css">
    <link rel="stylesheet" href="css/column/_w/column_w_50.css">
    <link rel="stylesheet" href="css/card/card.css">
    <link rel="stylesheet" href="css/card/_bordered/card_bordered.css">
    <link rel="stylesheet" href="css/card/__header/card__header.css">
    <link rel="stylesheet" href="css/card/__body/card__body.css">
    <link rel="stylesheet" href="css/card/__title/card__title.css">
    <link rel="stylesheet" href="css/card/__title/_no-margin/card__title_no-margin.css">
    <link rel="stylesheet" href="css/list/list.css">
    <link rel="stylesheet" href="css/list/_striped/list_striped.css">
    <link rel="stylesheet" href="css/list/__elem/list__elem.css">
    <link rel="stylesheet" href="css/list/__elem/_dropdown/list__elem_dropdown.css">
    <link rel="stylesheet" href="css/circle/circle.css">
    <link rel="stylesheet" href="css/circle/_theme/color.css">
</head>
<body class="container container_theme_light">
    <header class="header">
        <img src="img/Logo.svg" alt="Лого mail.ru">
    </header>
    <main class="row row_justify_center">
        <div class="card card_bordered column column_w_50">
            <div class="card__header">
                <h1 class="card__title card__title_no-margin">Меню</h1>
            </div>
            <ul class="list list_striped">
                <li class="list__elem list__elem_dropdown">
                    <div class="circle circle_theme_color">
                        <img src="img/sign_in.svg" width="20" height="20" alt="Авторизация">
                    </div>
                    Авторизация
                </li>
                <li class="list__elem list__elem_dropdown">
                    <div class="circle circle_theme_color">
                        <img src="img/register.svg" width="20" height="20" alt="Регистрация">
                    </div>
                    Регистрация
                </li>
                <li class="list__elem list__elem_dropdown">
                    <div class="circle circle_theme_color">
                        <img src="img/authors.svg" width="20" height="20" alt="Автороы">
                    </div>
                    Авторы
                </li>
                <li class="list__elem list__elem_dropdown">
                    <div class="circle circle_theme_color">
                        <img src="img/play.svg" width="20" height="20" alt="Играть">
                    </div>
                    Играть
                </li>
            </ul>
        </div>
    </main>
</body>
</html>