<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="css/var8_profile.css">
</head>
<body>
<div class="debug-image" style="background-image: url(../references/var8_profile.png)"></div>
<main class="profile-holder">
    <div class="block"><h1>Профиль</h1></div>
    <div class="block">
        <div class="row">
            <div class="field">
                <span class="label">Фамилия</span>
                <span class="value">Иванов</span>
            </div>
            <div class="field">
                <span class="label">Имя</span>
                <span class="value">Иван</span>
            </div>
        </div>
        <div class="row">
            <div class="field">
                <span class="label">Никнейм</span>
                <span class="value">vileven</span>
            </div>
        </div>
        <div class="row">
            <div class="field">
                <span class="label">Дата рождения</span>
                <span class="value">15.06.1997</span>
            </div>
        </div>
        <div class="row">
            <div class="field">
                <span class="label">Пол</span>
                <span class="value">Мужской</span>
            </div>
        </div>
        <div class="row">
            <div class="field">
                <span class="label">Email</span>
                <span class="value">lol@kek</span>
            </div>
            <div class="field">
                <span class="label">Телефон</span>
                <span class="value">+7 (965) 432-**-**</span>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="row">
            <button class="edit"><span class="icon"></span>Изменить</button>
            <button class="delete"><span class="icon"></span>Удалить</button>
        </div>
    </div>
</main>
</body>
</html>