<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/var8_menu.css">
</head>
<body>
<div class="debug-image" style="background-image: url(../references/var8_menu.png)"></div>
<div class="menu-holder">
    <div class="logo-holder"></div>
    <div class="buttons">
        <button class="button active"><span class="icon sign-in"></span>Авторизация</button>
        <button class="button"><span class="icon access"></span>Регистрация</button>
        <button class="button"><span class="icon users"></span>Авторы</button>
        <button class="button"><span class="icon game1"></span>Играть</button>
        <a class="about-link" href="">О проекте</a>
    </div>
</div>
<div class="main-holder">
    <h1>Авторизуйтесь на сервисе</h1>
    <form action="">
        <div class="btn-holder">
            <input class="button" type="email" title="Email" placeholder="Email">
            <div class="error-msg">Введите email</div>
        </div>
        <div class="btn-holder">
            <input class="button" type="password" title="Password" placeholder="Пароль">
            <div class="right-icon show"></div>
            <div class="error-msg">Введите пароль</div>
        </div>
        <div class="btn-holder">
            <button class="button mail" type="submit"><span class="icon"></span>Войти через почту</button>
            <div class="error-msg">Неверный пароль!</div>
        </div>
    </form>
</div>
</body>
</html>