<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/var8_login.css">
</head>
<body>
<div class="debug-image" style="background-image: url(../references/var8_login.png)"></div>
<main class="main-holder">
    <h1>Логин</h1>
    <div class="buttons">
        <button class="vk" tabindex="1"><span class="icon"></span>Войти через Вконтакте</button>
        <button class="fb" tabindex="2"><span  class="icon"></span>Войти через Facebook</button>
    </div>
    <div class="separator">или</div>
    <form action="">
        <div class="field-holder">
            <label class="hidden" for="email">Email</label>
            <input id="email" type="email" title="Email" placeholder="Email" tabindex="3">
            <div class="error-msg">Введите email</div>
        </div>
        <div class="field-holder error">
            <label class="hidden" for="password">Пароль</label>
            <input id="password" type="password" title="Password" placeholder="Пароль" tabindex="4">
            <div class="right-icon show" tabindex="5"></div>
            <div class="error-msg">Введите пароль</div>
        </div>
        <div class="field-holder">
            <button class="mail" type="submit" tabindex="5"><span class="icon"></span>Войти через почту</button>
            <div class="error-msg">Неверный пароль!</div>
        </div>
    </form>
</main>
</body>
</html>