<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/var8_signup.css">
</head>
<body>
<div class="debug-image" style="background-image: url(../references/var8_signup.png)"></div>
<div class="bg-image"></div>
<div class="signup-holder">
    <div class="label">Наше невероятно красивое приложение, в котором вы обязаны зарегистрироваться.</div>
    <form action="">
        <div class="btn-holder">
            <input class="button" type="email" title="Email" placeholder="Email">
            <div class="error-msg">Введите email</div>
        </div>
        <div class="btn-holder">
            <input class="button" type="password" title="Password" placeholder="Пароль">
            <div class="right-icon hide"></div>
            <div class="error-msg">Введите пароль</div>
        </div>
        <div class="btn-holder">
            <button class="button register" type="submit">Зарегистрироваться</button>
            <div class="error-msg">Неверный пароль!</div>
        </div>
        <div class="link-holder">
            <a class="fb-link" href="">Или зайти через Facebook</a>
        </div>
    </form>
</div>
</body>
</html>