:root {
    --bg-color: rgb(133, 133, 133);
    --vk-color: rgb(74, 118, 168);
    --fb-color: rgb(59, 89, 152);
    --mail-color: rgb(255, 45, 84);
    --form-bg-color: white;
    --sep-color: gray;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, san-serif;
    background-color: var(--bg-color);
}

body {
    display: flex;
    align-items: center;
}

@media all and (orientation:landscape) {
    .content {
        height: 520px;
        width: 425px;
        margin: auto;
        background-color: var(--form-bg-color);
        border-radius: 8px;
        box-shadow: 0 0 40px black;
    }
}

@media all and (orientation:portrait) {
    .content {
        height: 470px;
        width: 320px;
        margin: auto;
        background-color: var(--form-bg-color);
        border-radius: 8px;
        box-shadow: 0 0 40px black
    }
}

.header {
    margin-top: 3%;
    text-align: center;
    height: 10%;
}

.data {
    height: 90%;
}

.buttons {
    height: 10%;
}

.header-text {
    margin: auto;
    font-size: 200%;
}

.mg {
    margin-left: 4%;
    margin-right: 4%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 8px;
    width: 92%;
    height: 3.5em;
    font-size: 90%;
    margin-top: 2%;
    color: white;
    cursor: pointer;
}

.icon {
    padding-right: 2%;
}

.or-sep {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 1px;
    background-color: var(--sep-color);
    border: none;
    text-align: center;
}
.or-sep::before {
    content: "или";
    position: relative;
    top: -10px;
    background-color: var(--form-bg-color);
    padding: 2px 5px;
    color: var(--sep-color);
}

.input {
    width: 88.5%;
    padding-left: 5px;
    background: var(--form-bg-color);
    border-radius: 8px;
    color: #1f1e1e;
}

.form-input {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 8px;
    height: 3.5em;
}

.eye-btn {
    background-color: var(--form-bg-color);
    border-radius: 8px;
    cursor: pointer;
}

.no-border {
    border: none;
}

.input-first {
    margin-bottom: 4%;
}

.input-error {
    border-color: red;
}

.error {
    margin-top: 4%;
    color: red;
    font-size: 80%;
}

.item-last {
    margin-top: 4%;
}

.pink-backgr {
    background-color: var(--mail-color);
}

.light-blue-backgr {
    background-color: var(--vk-color);
}

.dark-blue-backgr {
    background-color: var(--fb-color);
}

.font-strong {
    font-weight: bold;
}
