:root {
    --border-color: rgb(161, 161, 161);
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, san-serif;
}

@media all and (orientation:landscape) {
    .content {
        height: 485px;
        width: 420px;
        margin: auto;
    }
}

@media all and (orientation:portrait) {
    .content {
        height: 440px;
        width: 320px;
        margin: auto;
    }
}

.header {
    display: flex;
    justify-content: left;
    align-content: center;
    height: 15.2%;
    font-size: 80%;
    border: 1px ridge var(--border-color);
}

.data {
    display: grid;
    grid-template-rows: repeat(5, 17.5%);
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    padding-top: 8%;
    height: 67%;
    border: 1px ridge var(--border-color);
    border-top-width: 0;
}

.buttons {
    display: flex;
    align-content: center;
    flex-flow: row nowrap;
    height: 18%;
    border: 1px ridge var(--border-color);
    border-top-width: 0;
}

.header-text {
    margin: 3% 0;
    font-size: 250%;
}

.pd {
    padding-left: 4%;
    padding-right: 4%;
}

.btn-left {
    width: 49.5%;
    margin-right: 2%;
}

.btn-right {
    width: 49.5%;
}

.field-type {
    font-size: 105%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.3rem;
    margin-top: 6%;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}

.gray-bd {
    border-width: 1px;
    border-color: gray;
    border-style: ridge;
}

.btn-text {
    padding-left: 2%;
}

.pink-backgr {
    background-color: rgb(255, 45, 84);
}

.white-backgr {
    background-color: white;
}

.color-gray {
    color: gray;
}

.color-white {
    color: white;
}
