:root {
    --pink-background-color: rgb(255, 45, 84);
    --form-bg-color: white;
}

html, body {
    font-family: Helvetica, Arial, san-serif;
    height: 100%;     
}

.header {
    width: 85%;
    font-size: 2em;
    text-align: center;
}

.content {
    height: 100%;
    background-image: url(https://www.scdn.co/i/generic/hero-lg.jpg);            
    background-repeat: no-repeat;
    background-size: 129.6% 100%;                
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}        

@media all and (orientation:portrait) {
    .content {
        background-size: 1200px;
        background-position: center;
        background-color: black;
        overflow: hidden;
    }

    .header {
        font-size: 1.3em;
    }
}  

.signup {
    font-size: 18px;
    text-align: center;
    width: 270px;
    min-width: 230px;
}

.form-input {
    display: flex;
    background-color: var(--form-bg-color);
    border-radius: 6px;
}

.input {
    padding-left: 10px;
    width: 100%;
    background: var(--form-bg-color);
    border-radius: 6px;
    color: #1f1e1e;
    height: 45px;
}

.color-white {
    color: white;
}

.first-input {
    margin-bottom: 12px;
}

.btn {
    text-align: center;
    width: 80%;
    font-size: 18px;
    margin: 20px auto;            
    background-color: var(--pink-background-color);
    border-radius: 5px;
    border: none;
    height: 45px;            
}

.eye-btn {
    background-color: var(--form-bg-color);
    border-radius: 6px;
}

.no-border {
    border: none;
}