html, body {            
    height: 100%;    
    width: 100%; 
    font-family: Helvetica, Arial, san-serif;
    background-color: rgb(133, 133, 133);   
}        

body {
    display: flex;
    align-items: center;                        
}

p {
    font-size: 95%;
    margin-top: 0;
    margin-bottom: 0.5%;
}

hr {
    margin-top: 8%;
}

img {
    margin-right: 4%;
    margin-left: 3%;
}

@media all and (orientation:landscape) {
    .content {
        min-width: 250;
        height: 55%;             
        width: 38%;     
        margin: auto;                   
        background-color: white;
        border-radius: 8px;
    }
}

@media all and (orientation:portrait) {
    .content {
        min-width: 250;
        height: 40%;             
        width: 90%;     
        margin: auto;                   
        background-color: white;
        border-radius: 8px;
    }
}

.header {        
    margin-top: 3%; 
    margin-left: 4%;
    text-align: left;                            
    height: 25%;            
}

.form-input {
    height: 75%;
}

.btns {
    display: flex;
    justify-items: baseline;   
    height: 13%;
    margin-top: 4%;
}

.header-text {                        
    font-size: 185%;
}

.mg {
    margin-left: 4%;
    margin-right: 4%;
}

.btn {                
    display: flex;
    align-items: center;    
    justify-content: left;
    border-style: none; 
    border-radius: 4px;                                  
    width: 30%;
    height: 90%;      
    font-size: 90%;                                                                                  
    margin-right: 2%;   
    color: white;        
}

.input-form {
    height: 10%;
}

.input {
    width: 90%;
    height: 10%;
    padding-left: 2%; 
    background: white;    
    border: 1px solid lightgray;     
    border-radius: 4px;
    color: #1f1e1e;
}

.input-error {
    border-color: red;
}

.error {                
    color: red;
    font-size: 80%;
}

.mg-top {
    margin-top: 4%;
}

.pink-backgr {
    background-color: rgb(255, 45, 84);
}

.gray-backgr {
    border: 1px solid gray;
    color: rgb(59, 59, 59);
    background-color: rgb(239, 239, 239);
}

.number-input {
    height: 11%;
    width: 100%;
}

.country-select {
    position: relative;   
    float: left;
    width: 35%;
    height: 90%;
    margin-right: 0;                                         
}

.right {                      
    width: 55%;
    height: 90%;
    border-left: none; 
    border-top-left-radius: 0;  
    border-bottom-left-radius: 0;                    
}

select {
    display: none;
}

.select-hide {
    display: none;
}

.select-selected {  
    display: flex;
    align-items: center;                                 
    height: 109%;                      
    padding-right: 1%;    
    padding-left: 3%;        
    border: 1px solid rgb(41, 41, 41); 
    border-radius: 4px;
    border-top-right-radius: 0;  
    border-bottom-right-radius: 0;  
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill-rule='evenodd'%3E%3Cpath d='M7.192 5.411a.999.999 0 0 1 1.616 0l2.964 3.954A1 1 0 0 1 11 11H5a1 1 0 0 1-.772-1.635l2.964-3.954z' %3E%3C/path%3E%3C/svg%3E");
    background-position: right;
    background-repeat: no-repeat;
}

.select-items {
    width: 80%;
    height: 200%;            
    position: absolute;   
    border: 1px solid rgb(41, 41, 41); 
    background-color: white;
    border-radius: 4px;         
    top: 125%;
    left: 0;
    right: 0;
    z-index: 99;
    padding-top: 2%;
    padding-bottom: 2%;
}

.item {
    display: flex;
    align-items: center;  
    padding-left: 15%;
    height: 50%;
}

.current {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill-rule='evenodd'%3E%3Cpath d='M12.4 5.6c-.4-.4-1-.4-1.4 0l-4 4-2-2c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l2.7 2.7c.2.2.4.3.7.3.3 0 .5-.1.7-.3L12.4 7c.4-.4.4-1 0-1.4z' %3E%3C/path%3E%3C/svg%3E");
    background-position: left;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-color: rgb(239, 239, 239);
}