:root {
    --light-gray-color: rgb(240, 240, 240);
    --main-bg-color: rgb(133, 133, 133);
    --pink-background-color: rgb(255, 45, 84);
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, san-serif;
    background-color: var(--main-bg-color);
}

body {
    display: flex;
    align-items: center;
}

.field-type {
    font-size: 95%;
    margin-top: 0;
    margin-bottom: 0.5%;
}

.sep {
    margin-top: 8%;
}

.flag-icon {
    margin-right: 4%;
    margin-left: 3%;
}

@media all and (orientation:landscape) {
    .content {
        height: 420px;
        width: 420px;
        margin: auto;
        background-color: white;
        border-radius: 8px;
    }
}

@media all and (orientation:portrait) {
    .content {
        height: 400px;
        width: 350px;
        margin: auto;
        background-color: white;
        border-radius: 8px;
    }

    .header {
        margin-bottom: 8%;
    }
}

.header {
    display: flex;
    margin-top: 7%;
    margin-left: 4%;
    height: 25%;
}

.form-input {
    height: 75%;
}

.btns {
    display: flex;
    justify-items: baseline;
    height: 13%;
    margin-top: 4%;
}

.header-text {
    width: 94%;
    font-size: 1.9em;
}

.mg {
    margin-left: 4%;
    margin-right: 4%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: left;
    border-style: none;
    border-radius: 4px;
    width: 30%;
    height: 2rem;
    font-size: 90%;
    margin-right: 2%;
    color: white;
    cursor: pointer;
}

.input-form {
    height: 10%;
}

.input {
    width: 90%;
    height: 10%;
    padding-left: 2%;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    color: #1f1e1e;
}

.input-error {
    border-color: red;
}

.error {
    color: red;
    font-size: 80%;
}

.mg-top {
    margin-top: 4%;
}

.pink-backgr {
    background-color: var(--pink-background-color);
}

.btn-gray {
    border: 1px solid gray;
    color: rgb(59, 59, 59);
    background-color: rgb(239, 239, 239);
}

.number-input {
    display: flex;
    height: 11%;
    width: 100%;
}

.country-select {
    position: relative;
    width: 35%;
    height: 90%;
    margin-right: 0;
}

.input-right {
    width: 55%;
    height: 90%;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.select-hide {
    display: none;
}

.select-selected {
    display: flex;
    align-items: center;
    height: 109%;
    padding-right: 1%;
    padding-left: 3%;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 4px 0 0 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill-rule='evenodd'%3E%3Cpath d='M7.192 5.411a.999.999 0 0 1 1.616 0l2.964 3.954A1 1 0 0 1 11 11H5a1 1 0 0 1-.772-1.635l2.964-3.954z' %3E%3C/path%3E%3C/svg%3E");
    background-position: right;
    background-repeat: no-repeat;
}

.select-items {
    width: 80%;
    height: 200%;
    position: absolute;
    border: 1px solid rgb(41, 41, 41);
    background-color: white;
    border-radius: 4px;
    top: 125%;
    left: 0;
    right: 0;
    z-index: 99;
    padding-top: 2%;
    padding-bottom: 2%;
}

.select-item {
    display: flex;
    align-items: center;
    padding-left: 15%;
    height: 50%;
    cursor: pointer;
}

.current-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill-rule='evenodd'%3E%3Cpath d='M12.4 5.6c-.4-.4-1-.4-1.4 0l-4 4-2-2c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l2.7 2.7c.2.2.4.3.7.3.3 0 .5-.1.7-.3L12.4 7c.4-.4.4-1 0-1.4z' %3E%3C/path%3E%3C/svg%3E");
    background-position: left;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-color: var(--light-gray-color);
}

.close-btn {
    margin-left: 8px;
    padding-bottom: 50%;
    background-color: white;
    border: none;
}

.font-strong {
    font-weight: bold;
}