<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/menu.css">
		<link rel="stylesheet" href="css/icons.css">
		<title>Menu</title>
	</head>
	<body>
		<nav class="bar bar-10 mail-bar">
			<div class="logo icon-button">
				<span class="icon mailru-icon icon-size-25 icon-orange"></span>
				<div class="mail-logo-font logo-wrapper">mail</div>
			</div>
		</nav>
		<div class="container menu-container">
			<h1 class="title-font menu-title">Меню</h1>
			<hr>
			<div class="box-container box-wrapper box-white icon-button">
				<span class="circle-box icon-green">
					<span class="icon auth-icon icon-white icon-size-16 menu-icon-wrapper"></span>
				</span>
				<div class="menu-font menu-font-wrapper">Авторизация</div>
				<span class="icon arrow-down-icon icon-size-16 icon-black arrow-icon-wrapper"></span>
			</div>
			<div class="box-container box-wrapper box-gray icon-button">
				<span class="circle-box icon-green">
					<span class="icon access-icon icon-white icon-size-16 menu-icon-wrapper"></span>
				</span>
				<div class="menu-font menu-font-wrapper">Регистрация</div>
				<span class="icon arrow-down-icon icon-size-16 icon-black arrow-icon-wrapper"></span>
			</div>
			<div class="box-container box-wrapper box-white icon-button">
				<span class="circle-box icon-green">
					<span class="icon users-icon icon-white icon-size-16 menu-icon-wrapper"></span>
				</span>
				<div class="menu-font menu-font-wrapper">Авторы</div>
				<span class="icon arrow-down-icon icon-size-16 icon-black arrow-icon-wrapper"></span>
			</div>
			<div class="box-container box-wrapper box-gray icon-button">
				<span class="circle-box icon-green">
					<span class="icon games-icon icon-white icon-size-16 menu-icon-wrapper"></span>
				</span>
				<div class="menu-font menu-font-wrapper">Играть</div>
				<span class="icon arrow-down-icon icon-size-16 icon-black arrow-icon-wrapper"></span>
			</div>
		</div>
	</body>
</html>
