<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/profile.css">
		<link rel="stylesheet" href="css/icons.css">
		<title>Profile</title>
	</head>
	<body>
		<div class="profile container-wrapper container-pos">
			<div class="info-block">
				<h1 class="title-font title-wrapper">Профиль</h1>
				<img class="avatar-box image-50" src="users/avatar.svg">
<!-- 			<div class="avatar-box avatar-box-wrapper">
					<div class="avatar-font">ИИ</div>
				</div> -->
			</div>
			<div class="info-block info-block-wrapper info-area-pos ">
				<div class="info-area">
					<div class="form-font form-wrapper">Никнейм</div>
					<div class="user-font user-wrapper">vileven</div>
				</div><hr>
				<div class="info-area">
					<div class="form-font form-wrapper">Имя</div>
					<div class="user-font user-wrapper">Иван</div>
				</div><hr>
				<div class="info-area">
					<div class="form-font form-wrapper">Фамилия</div>
					<div class="user-font user-wrapper">Иванов</div>
				</div><hr>
				<div class="info-area">
					<div class="form-font form-wrapper">Дата рождения</div>
					<div class="user-font user-wrapper">15.06.1997</div>
				</div><hr>
				<div class="info-area">
					<div class="form-font form-wrapper">Пол</div>
					<div class="user-font user-wrapper">Мужской</div>
				</div>
			</div>
			<div class="btn-block btn-block-wrapper">
				<button type="button" class="btn size_large btn-red btn-wrapper">
					<span class="icon user-edit-icon icon-size-16 icon-white btn-icon-pos"></span>
					<div class="btn-font color_white btn-icon-pos">Изменить</div>
				</button>
				<button type="button" class="btn size_large btn-gray btn-wrapper btn_secondary">
					<span class="icon delete-icon icon-size-16 icon-gray btn-icon-pos"></span>
					<div class="btn-font color_gray btn-icon-pos">Удалить</div>
				</button>
			</div>
		</div>
	</body>
</html>
