<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/register.css">
		<link rel="stylesheet" href="css/icons.css">
		<title>Register</title>
	</head>
	<body>
	<div class="con-w-28 container-wrapper container-pos">
		<form method="POST" novalidate>
			<div class="title-block">
				<h1 class="title-font title-wrapper">Регистрация</h1>
			</div>
			<hr class="top-line">
			<div class="input-container">
				<p class="comment-text">Для регистрации на ресурсе укажите информацию о себе</p>
				<div class="form-label-group required-area">
			        <input type="text" class="input-form input-form_size" name="ufirstname" placeholder="Имя" required>
			        <div class="invalid-input">Заполните обязательное поле</div>
			    </div>
		        <div class="form-label-group">
		            <input type="text" class="input-form input-form_size" name="ulastname" placeholder="Фамилия">
		        </div>

		        <label for="validationDate" class="info-font">Дата рождения</label>
		        <div class="date-block">
		        	<div class="form-label-group block-size-30">
		        		<select id="validationDate" name="day" class="select-control">
		        			<option value="">День</option>
		        			<option value="1">1</option>
		        			<option value="2">2</option>
		        			<option value="3">3</option>
		        			<option value="4">4</option>
		        			<option value="5">5</option>
		        			<option value="6">6</option>
		        			<option value="7">7</option>
		        			<option value="8">8</option>
		        			<option value="9">9</option>
		        			<option value="10">10</option>
		        			<option value="11">11</option>
		        			<option value="12">12</option>
		        		</select>
		        		<select id="validationDate" name="mounth" class="select-control">
		        			<option value="">Месяц</option>
		        			<option value="1">Январь</option>
		        			<option value="2">Февраль</option>
		        			<option value="3">Март</option>
		        			<option value="4">Апрель</option>
		        			<option value="5">Май</option>
		        			<option value="6">Июнь</option>
		        			<option value="7">Июль</option>
		        			<option value="8">Август</option>
		        			<option value="9">Сентябрь</option>
		        			<option value="10">Октябрь</option>
		        			<option value="11">Ноябрь</option>
		        			<option value="12">Декабрь</option>
		        		</select>
		        		<select id="validationDate" name="year" class="select-control">
		        			<option label="year" value="" selected disabled>Год</option>
		        			<option value="2001">2001</option>
		        			<option value="2000">2000</option>
		        			<option value="1999">1999</option>
		        			<option value="1998">1998</option>
		        			<option value="1997">1997</option>
		        			<option value="1996">1996</option>
		        			<option value="1995">1995</option>
		        			<option value="1994">1994</option>
		        			<option value="1993">1993</option>
		        			<option value="1992">1992</option>
		        			<option value="1991">1991</option>
		        			<option value="1990">1990</option>
		        		</select>
		        	</div>
		        </div>
		        <div class="phone-block">
			        <label for="validationPhone" class="info-font">Телефон</label>
			        	<div class="custom-select custom-select-wrapper">
					        <span class="russia-icon country-img"></span>
			        		<div class="option-font option-font_pos">Россия</div>
					        <span class="icon arrow-down-icon icon-size-15 icon-black icon-drop-down_pos"></span>
			        	</div>
			        	<input type="tel" name="phone" class="phone-input-form" minlength="18" maxlength="18" value="+7">
			    </div>
			    <div class="form-label-group password_pos">
			        <input type="password" class="input-form input-form_size" name="login" placeholder="Пароль">
		    	</div>
		    	<div class="form-label-group password_pos required-area">
			        <input type="password" class="input-form input-form_size" name="login" placeholder="Повторите пароль">
		    	</div>
			</div>
			<hr class="top-line">
			<div class="input-container">
				<div class="btn-block btn-block-wrapper">
					<button type="button" class="btn btn-21 btn-red btn-border">
						<div class="btn-font font-color-white font-size-20 btn-font-pos">Зарегестрироваться</div>
					</button>
					<button type="button" class="btn btn-3 btn-gray btn-border">
						<div class="btn-font font-color-black font-size-20 btn-font-pos">Отменить</div>
					</button>
				</div>
			</div>

		</form>
		</div>
	</body>
</html>
