<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/update.css">
    <title>Update Profile</title>
</head>
<body class="login-body">
    <div class="container_width_420 container-wrapper login-container container-shadow container">
        <div class="title-container">
            <div class="title title-font title-wrapper">Изменение настроек</div>
            <span class="icon icon-button icon-black close-big-icon icon-size-20 cross-icon_pos"></span>
        </div>

        <div class="input-container">
            <form method="POST" novalidate>
                <label for="validationLogin" class="info-font">Логин</label>
                <div class="form-label-group required-area">
                    <input type="text" class="input-form input-form_upd-size" id="validationLogin" name="ulogin" required>
                    <div class="note-block note-block_wrapper">
                        <span class="icon back-btn-icon icon-white icon-size-25 back-btn-icon_pos"></span>
                        <div class="attention-msg attention-pos">
                            <div class="attention-font">Укажите новый логин</div>
                            <div class="attention-comment-font">Вы можете изменить свой логин</div>
                        </div>
                    </div>
                </div>
                <label for="validationPhone" class="info-font">Телефон</label>
                <div class="phone-block">
                    <div class="custom-select custom-select-wrapper">
                        <span class="russia-icon country-img"></span>
                        <!--<span class="country-code-wrapper russia-img"></span>-->
                        <div class="option-font option-font_pos">Россия</div>
                        <span class="icon arrow-down-icon icon-size-16 icon-black icon-drop-down_pos"></span>
                    </div>
                    <div class="custom-select">
                        <div class="phone-input__font option-font">+79999999999</div>
                    </div>
                    <!--<input type="tel" name="phone" id="validationPhone" class="phone-input-form" minlength="18" maxlength="18" required>-->
                </div>
                <div class="invalid-input invalid-input_block-padding">Неправильный телефон</div>
            </form>
        </div>
        <hr class="top-line">
        <div class="submit-container">
            <div class="btn-block btn-block-wrapper">
                <button type="button" class="btn btn-pink size_large btn-border">
                    <div class="btn-font color_white font_size-16 btn-font-pos">Обновить</div>
                </button>
                <button type="button" class="btn size_large btn-gray btn-border btn-shadow">
                    <div class="btn-font color_dark font_size-16 btn-font-pos">Отменить</div>
                </button>
            </div>
        </div>
    </div>
</body>
</html>
