html, body {
    margin: 0;
    width: 100%;
    font-family: $font-stack;
    background-color: white;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline: none;
    }
}

label {
    cursor: pointer;
}

.title {
    display: block;
    text-align: center;
    font-size: 24px;

    font-weight: bold;

    &_size_large {
        font-size: 28px;
    }
}

.hr {
    display: block;
    height: 0;
    padding: 0;

    border: 0;
    border-top: 1px solid $border-color;

    &_inline {
        margin: 0;
    }
}