$popup-top-margin: 15px;
$popup-right-margin: 15px;
$popup-bottom-margin: 15px;
$popup-left-margin: 15px;

%popup {
  position: relative;
  background-color: white;
  border-radius: 3px;
  padding: $popup-top-margin $popup-right-margin $popup-bottom-margin $popup-left-margin;

  &__close-popup {
      position: absolute;
      top: $popup-top-margin - 5px;
      right: $popup-right-margin - 5px;
  }
}