$popup-top-padding: 15px;
$popup-right-padding: 15px;
$popup-bottom-padding: 15px;
$popup-left-padding: 15px;

%popup {
  position: relative;
  background-color: white;
  border-radius: 3px;
  padding: $popup-top-padding $popup-right-padding $popup-bottom-padding $popup-left-padding;
  min-width: fit-content;
  min-width: -moz-max-content;
  display: flex;
  flex-direction: column;
  width: 50%;

  &__close-popup {
      position: absolute;
      top: $popup-top-padding - 5px;
      right: $popup-right-padding - 5px;
  }
}