$font-stack: Helvetica, Arial, sans-serif;
$main-color: #CA9CF4;
$border-color: #E0E0E0;
$outline-color: #F5F5F5;
$muted-color: #A9A9A9;
$muted-bg-color: #F7F7F7;
$green: #28C57D;
$orange: #FD9E0B;
$link-color: #005BD1;

$small-font-size: 12px;
$font-size: 14px;

$vk-color: #4A76A8;
$fb-color: #3B5998;
$ok-color: #EE8208;
