$main-color: #CA9CF4;
$border-color: #E0E0E0;
$outline-color: #F5F5F5;
$muted-color-dark: #A9A9A9;
$muted-color-light: #F7F7F7;
$link-color: #005BD1;
$green: #28C57D;
$orange: #FD9E0B;

$font-stack: Helvetica, Arial, sans-serif;
$small-font-size: 12px;
$smaller-font-size: 9px;

$vk-color: #4A76A8;
$fb-color: #3B5998;
$ok-color: #EE8208;
