<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="menu-page">
        <header class="menu-page__header">
            <div class="menu-page-logotype"></div>
        </header>
        <div class="menu-page__box">
            <div class="menu-page-menu">
                <div class="menu-page-menu__header">Меню</div>
                <div class="menu-page-menu-row">
                    <div class="menu-page-circle-icon menu-page-circle-icon_sign-in"></div>
                    <div class="menu-page-menu-row__text">Авторизация</div>
                    <div class="menu-page-menu-row__drop-down"></div>
                </div>
                <div class="menu-page-menu-row menu-page-menu-row_gray">
                    <div class="menu-page-circle-icon menu-page-circle-icon_access"></div>
                    <div class="menu-page-menu-row__text">Регистрация</div>
                    <div class="menu-page-menu-row__drop-down"></div>
                </div>
                <div class="menu-page-menu-row">
                    <div class="menu-page-circle-icon menu-page-circle-icon_users"></div>
                    <div class="menu-page-menu-row__text">Авторы</div>
                    <div class="menu-page-menu-row__drop-down"></div>
                </div>
                <div class="menu-page-menu-row menu-page-menu-row_gray">
                    <div class="menu-page-circle-icon menu-page-circle-icon_game"></div>
                    <div class="menu-page-menu-row__text">Играть</div>
                    <div class="menu-page-menu-row__drop-down"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>