html {
    width: 100%;
    height: 100%;
}
.menu-page {
    margin: 0;
    padding: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, san-serif, serif;
    font-size: 33px;
    box-sizing: border-box;
}

.menu-page__header {
    height: 56px;
    box-sizing: border-box;
    padding: 12px 0 12px 84px;
    background-color: #008079;
    flex-grow: 0;
    flex-shrink: 0;
}

.menu-page-logotype {
    width: 96px;
    height: 32px;
    background: url("img/Logo.svg") no-repeat center;
    background-size: contain;
}

.menu-page__box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.menu-page-menu {
    display: inline-table;
    width: 682px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.menu-page-menu__header {
    height: 72px;
    padding: 3px 0 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    font-weight: bold;
    box-sizing: border-box;
}

.menu-page-menu-row {
    height: 64px;
    padding: 16px 24px 16px 20px;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    position: relative;
}

.menu-page-circle-icon {
    height: 32px;
    width: 32px;
    background-color: #2BC75D;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    background-size: contain;
}

.menu-page-circle-icon:after {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    content: '';
    z-index: 1;
}

.menu-page-menu-row__text {
    margin-left: 12px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.menu-page-menu-row__drop-down {
    width: 10px;
    height: 8px;
    background:  url("img/DropDown.svg") no-repeat center;
    position: absolute;
    transform: translate(-100%, -50%);
    left: calc(100% - 24px);
    top: 50%;
}

.menu-page-menu-row_gray {
    background-color: #F5F5F5;
}

.menu-page-circle-icon_sign-in:after {
    width: 16px;
    height: 16px;
    background: url("img/SignIn.svg") no-repeat center;
}

.menu-page-circle-icon_access:after {
    width: 15px;
    height: 15px;
    background: url("img/Access.svg") no-repeat center;
}

.menu-page-circle-icon_users:after {
    width: 16px;
    height: 16px;
    background: url("img/Users.svg") no-repeat center;
}

.menu-page-circle-icon_game:after {
    width: 16px;
    height: 14px;
    background: url("img/Game.svg") no-repeat center;
}
