html {
    width: 100%;
    height: 100%;
}
.menu-page {
    margin: 0;
    padding: 8px;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, san-serif, serif;
    font-size: 33px;
    box-sizing: border-box;
}

.menu-page-header {
    height: 56px;
    box-sizing: border-box;
    padding: 13px 0 11px 84px;
    background-color: #008079;
}

.menu-page-header__logotype {
    width: 96px;
    height: 32px;
    background: url("img/logo.svg") no-repeat;
    margin-bottom: 2px;
}

.menu-page-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.menu-page-main {
    width: 682px;
    height: 331px;
    margin-top: 40px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.menu-page-main-header {
    width: 100%;
    height: 73px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
}

.menu-page-main-header__text {
    font-weight: bold;
    margin-left: 19px;
    margin-top: 3px;
}

.menu-page-part {
    width: 100%;
    height: 64px;
    padding: 16px 24px 16px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}
.menu-page-part-left {
    width: 50%;
    display: flex;
    align-items: center;
}
.menu-page-part-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-page-part__drop-down-icon {
    width: 10px;
    height: 8px;
    background:  url("img/drop_down.svg");
}

.menu-page-part_gray {
    background-color: #F5F5F5;
}

.menu-page-circle-icon {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2BC75D;
    border-radius: 50%;
}

.menu-page__access-icon {
    width: 15px;
    height: 15px;
    background: url("img/access.svg") no-repeat;
}

.menu-page__game-icon {
    width: 16px;
    height: 14px;
    background: url("img/game1.svg") no-repeat;
}

.menu-page__sign-in-icon {
    width: 16px;
    height: 16px;
    background: url("img/sign_in.svg") no-repeat;
}

.menu-page__users-icon {
    width: 16px;
    height: 16px;
    background: url("img/users.svg") no-repeat;
}

.menu-page-part__text {
    margin-left: 12px;
    margin-top: 1px;
    font-size: 15px;
}