<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SignUp</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body class="sign-up-page">
        <div class="sign-up-page__main-block">
            <header class="sign-up-page__header">Регистрация</header>
            <form class="sign-up-page__form">
                <div class="sign-up-page__helper-text">Для регистрации на ресурсе укажите информацию о себе</div>
                <div class="sign-up-page__input-block">
                    <input class="sign-up-page-input sign-up-page-input_error" placeholder="Имя">
                    <div class="sign-up-page__text-error">Заполните обязательное поле</div>
                </div>
                <div class="sign-up-page__input-block">
                    <input class="sign-up-page-input" placeholder="Фамилия">
                </div>
                <div class="sign-up-page__container-drop">
                    <div class="sign-up-page-title-input">Дата рождения</div>
                    <div class="sign-up-page__bd-input-block">
                        <div class="sign-up-page-dropdown">
                            <button class="sign-up-page__dropdown-part sign-up-page__dropdown-part_day">
                                <div class="sign-up-page__dropdown-text">День</div>
                                <div class="sign-up-page-dropdown-icon"></div>
                            </button>
                            <div class="sign-up-page__dropdown-content">
                                <a class="sign-up-page__dropdown-drop sign-up-page__dropdown-drop_day" href="#">1</a>
                                <a class="sign-up-page__dropdown-drop sign-up-page__dropdown-drop_day" href="#">2</a>
                            </div>
                        </div>
                        <div class="sign-up-page-dropdown">
                            <button class="sign-up-page__dropdown-part sign-up-page__dropdown-part_month">
                                <div class="sign-up-page__dropdown-text">Месяц</div>
                                <div class="sign-up-page-dropdown-icon"></div>
                            </button>
                            <div class="sign-up-page__dropdown-content">
                                <a class="sign-up-page__dropdown-drop sign-up-page__dropdown-drop_month" href="#">1</a>
                                <a class="sign-up-page__dropdown-drop sign-up-page__dropdown-drop_month" href="#">2</a>
                            </div>
                        </div>
                        <div class="sign-up-page-dropdown">
                            <button class="sign-up-page__dropdown-part sign-up-page__dropdown-part_year">
                                <div class="sign-up-page__dropdown-text">Год</div>
                                <div class="sign-up-page-dropdown-icon"></div>
                            </button>
                            <div class="sign-up-page__dropdown-content">
                                <a class="sign-up-page__dropdown-drop sign-up-page__dropdown-drop_year" href="#">1998</a>
                                <a class="sign-up-page__dropdown-drop sign-up-page__dropdown-drop_year" href="#">1999</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sign-up-page__number-form">
                    <div class="sign-up-page-title-input">Телефон</div>
                    <div class="sign-up-page__number-inputs-container">
                        <div class="sign-up-page-dropdown sign-up-page-dropdown_country">
                            <button class="sign-up-page__number-input sign-up-page__number-input_country">
                                <div class="sign-up-page-russia-icon"></div>
                                <div class="sign-up-page__country-title">Россия</div>
                                <div class="update-page__dropdown-icon-container">
                                    <div class="sign-up-page-dropdown-icon"></div>
                                </div>
                            </button>
                            <div class="sign-up-page__dropdown-content">
                                <a class="sign-up-page__dropdown-drop sign-up-page__dropdown-drop_country" href="#">
                                    <div class="sign-up-page-ua-icon"></div>
                                    <div class="sign-up-page__country-title">Украина</div>
                                    <div class="update-page__dropdown-icon-container">
                                        <div class="sign-up-page-dropdown-icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <input class="sign-up-page__number-input sign-up-page__number-input_number" placeholder="+7">
                    </div>
                </div>
                <div class="sign-up-page__pas-input-container">
                    <input class="sign-up-page-input" placeholder="Пароль" type="password">
                </div>
                <div class="sign-up-page__pas-input-container">
                    <input class="sign-up-page-input" placeholder="Повторите пароль" type="password">
                </div>
            </form>
            <div class="sign-up-page__footer">
                <div class="sign-up-page-button">Зарегистрироваться</div>
                <div class="sign-up-page__cancel-button-container">
                    <div class="sign-up-page-button sign-up-page-button_gray">Отменить</div>
                </div>
            </div>
        </div>
    </body>
</html>