button {
    background-color: #FFFFFF;
    cursor: pointer;
}

a {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}

button {
    margin: 0;
    height: 100%;
}

.sign-up-page {
    padding-top: 8px;
    height: 100%;
    font-size: 15px;
    font-family: Helvetica, Arial, san-serif;
    box-sizing: border-box;
}

.sign-up-page__main-block {
    margin: 0 auto;
    width: 422px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    box-sizing: border-box;
}

.sign-up-page__header {
    height: 67px;
    font-size: 32px;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

.sign-up-page__form {
    padding: 20px 20px 40px;
    box-sizing: border-box;
}

.sign-up-page__footer {
    width: 100%;
    height: 80px;
    border-top: 1px solid #E0E0E0;
    padding: 20px 0 20px 20px;
    display: flex;
    box-sizing: border-box;
}

.sign-up-page__helper-text {
    color: #999999;
    line-height: 1.3;
}

.sign-up-page__input-block {
    margin-top: 13px;
    box-sizing: border-box;
}

.sign-up-page-input::placeholder {
    color: #7C7C7C;
    font-weight: bold;
}

.sign-up-page-input {
    width: 100%;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 16px 14px 14px 13px;
    position: relative;
    box-sizing: border-box;
}

.sign-up-page-input_error {
    border-color: #FF1100;
}

.sign-up-page__text-error {
    width: 100%;
    height: 11px;
    margin-top: 8px;
    font-size: 12px;
    color: #FF1100;
    font-weight: bold;
}

.sign-up-page-title-input {
    margin-top: 16px;
    color: #000000;
    font-weight: bold;
}

.sign-up-page__bd-input-block {
    margin-top: 2px;
    display: flex;
}

.sign-up-page__dropdown-part {
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 12px 8px 12px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-page-dropdown {
    height: 40px;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.sign-up-page-dropdown_country {
    z-index: 1;
}

.sign-up-page__dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
}

.sign-up-page__dropdown-content .sign-up-page__dropdown-drop {
    text-decoration: none;
    display: block;
    height: 40px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 12px 8px 12px 12px;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sign-up-page__dropdown-content a:hover {
    background-color: #f1f1f1;
}

.sign-up-page-dropdown:hover .sign-up-page__dropdown-content {
    display: block;
}

.sign-up-page-dropdown_country:hover .sign-up-page__dropdown-content {
    display: block;
}

.sign-up-page__dropdown-drop_day {
    width: 127px;
}

.sign-up-page__dropdown-drop_month {
    width: 137px;
}

.sign-up-page__dropdown-drop_year {
    width: 116px;
}

.sign-up-page__dropdown-drop_country{
    width: 157px;
    position: relative;
}

.sign-up-page__dropdown-part_day {
    width: 127px;
}

.sign-up-page__dropdown-part_month {
    width: 137px;
}

.sign-up-page__dropdown-part_year {
    width: 116px;
}

.sign-up-page__dropdown-text {
    color: #000000;
    font-weight: bold;
}

.sign-up-page__country-title {
    color: #000000;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
}

.sign-up-page__dropdown-icon-container {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 8px;
}

.sign-up-page-dropdown-icon {
    width: 6px;
    height: 5px;
    background: url("img/Done.svg") no-repeat center;
}

.sign-up-page__phone-form {
    margin-top: 20px;
}

.sign-up-page__phone-inputs-container {
    margin-top: 4px;
    height: 40px;
    display: flex;
}

.sign-up-page__phone-input {
    height: 100%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.sign-up-page__phone-input_country {
    width: 157px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: none;
    padding: 0 8px 0 12px;
}
.sign-up-page__phone-input_number {
    width: 223px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 14px 12px 13px 12px;
}

.sign-up-page-russia-icon {
    width: 16px;
    height: 11px;
    background: url("img/Ru.png") no-repeat center;
}

.sign-up-page-ua-icon {
    width: 16px;
    height: 11px;
    background: url("img/Ua.png") no-repeat center;
    display: inline-block;
}

.sign-up-page__phone-input_number::placeholder {
    color: #000000;
    font-weight: bold;
}

.sign-up-page__pas-input-container {
    margin-top: 20px;
}

.sign-up-page__cancel-button-container {
    margin-left: 8px;
    height: 40px;
}

.sign-up-page-button {
    padding: 10px 20px;
    height: 40px;
    box-sizing: border-box;
    background-color: #008079;
    border: 1px solid #00716A;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.sign-up-page-button_gray {
    background-color: #F0F0F0;
    border: 1px solid #D3D3D3;
    color: #333333;
}
