@import "./ModalForm/style";
@import "./EditPage/style";
@import "./SignUp/style";
@import "./UpdateContacts/style";
@import "./components/style";

body, html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  font-family: 'Helvetica', san-serif, sans-serif;
}

body {
  padding: 8px;
}

* {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

.section {
  width: 100%;
  height: 100%;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
