.sign-up {
  background: url('./SignUp/img/hero-lg.jpg') no-repeat right;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    max-width: 1130px;
    margin-bottom: 38px;
    letter-spacing: -0.025em;
  }

  &__input {
    width: 380px;
    margin-bottom: 12px;
  }

  &__btn {
    margin: 8px 0 12px;
  }

  &__link {
    color: #ffffff;
    font-weight: 700;
    letter-spacing: -0.025em;
    font-size: 14px;
  }
}
